﻿@import "../_base.scss";

// Category List Widget.

.category-list-widget,.brand-list-widget{
    ul{width:100%;display:flex;flex-wrap:wrap;padding:0;margin:0;
        li{width:calc(50% - 10px);display:inline-block;margin:0 5px 10px;text-align:center;
           a{display:block;width:100%;position:relative;
             .cs-item {position: relative;display: inline-block;
                &:after{content: '';position: absolute;top: 0;right: 0;bottom: 0px;left: 0;background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.16850490196078427) 70%);}
             }
           }
           label{color:$base-color-white;cursor:pointer;background-color: $base-color-primary;width: 100%;margin: 0px;text-transform: uppercase;padding: 10px;text-align: left;font-size:$base-font-size + 2}
           figcaption{margin-top: -40px;position: relative;z-index: 2;padding-bottom:20px;
               p{margin-top: 0px;margin-bottom: 0px;padding-left: 10px;text-align: left;color: #ffffff;font-size:$base-font-size + 2}
           }
        }
    }
}
.plp-category-title h1 {text-transform: uppercase;padding: 5px 0px 10px 0px;font-size:$base-heading-font-secondary;
                        letter-spacing: 1.8px;font-weight: bold;border-bottom: 3px solid;
}
// Media Query.
@include screensize(small) { 
    .category-list-widget ul li,.brand-list-widget ul li{width:calc(33% - 10px);}
    
}
@include screensize(x-small) {
    .category-list-widget ul li {
         label{font-size:$base-font-size;}
        figcaption{
            p{font-size:$base-font-size-small;}
        } 
    }
    .category-list-widget ul li,.brand-list-widget ul li{width:calc(100% - 10px);margin: 0 8px 10px;}
}