﻿@import "../_base.scss";
// Product Alternate Images.
.product-view-details .product-images{
    .alternate-img{
        .item img:hover{border:2px solid $base-color-primary;}
        .owl-controls{top:-35px;}
        .item img{text-align:center;border:2px solid #e8e8e8;display:block;max-width:100px;margin:0 auto;max-height:100%;max-width:100%;padding:2px;}
    } 
    .owl-theme .owl-controls{margin-top:10px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{border:1px solid $border-bgcolor-default;border-radius:3px;color:$base-color-primary;height:28px;width:28px;margin:0;line-height:26px;opacity:1;font-family:$znode-icon-font !important;
                &:hover{background-color:$base-color-primary;color:$base-color-white}
        }
        .owl-buttons .owl-prev{margin-right:5px;}
    }
    .new-product-tag{position:absolute;top:5px;right:5px;z-index:99;width:40px;height:40px;}
} 

// Product Zoom Effect Out.
.simpleLens-gallery-container {
    margin-top: 2%;
    margin-bottom: 25px;

    .simpleLens-container {
        display: table;
        position: relative;
        margin: 0 auto;
        -ms-transform: none;
    }

    .simpleLens-big-image-container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        width: 100%;
        -ms-transform: none;

        .simpleLens-lens-image {
            height: auto !important;
            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 0;
            box-shadow: none;
            float: none;
            position: relative;
            -ms-transform: none;

            .simpleLens-big-image {
                max-width: 100%;
                -ms-transform: none;
            }

            .simpleLens-mouse-cursor {
                background-color: #ccc;
                opacity: 0.2;
                filter: alpha(opacity = 20);
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid $border-bgcolor-default;
                box-shadow: 0 0 2px 2px #999;
                cursor: none;
                -ms-transform: none;
            }
        }
    }

    
}

.simpleLens-lens-element {background-color:$base-color-white;box-shadow: 0 0 2px 2px #8e8e8e;height:100%;left:105%;overflow:hidden;position:absolute;top:0;width:100%;z-index:9999;text-align:center;-ms-transform:none;
         img{position:relative;top:0;left:0;width:auto !important;max-width:none !important;-ms-transform: none;}
}

// For IE11 Only.
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-container {display:block;}
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container {display:inline-block;vertical-align:middle;} 
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container:before {content:"";height:100%;display:inline-block;vertical-align:middle;}

// PDP View Template.
.small-view-template{
    .product-view-details .product-images .alternate-img{padding:20px;}    
    .simpleLens-gallery-container .simpleLens-big-image-container .simpleLens-lens-image {width:70%;}
    .simpleLens-container{height:275px;}
    .simpleLens-lens-element {left: 85%;}
}

// Product Zoom Effect In.
.easyzoom{position:relative;margin-top:3%;}
.easyzoom-flyout,.easyzoom-notice{position:absolute;background:$base-color-white}
.easyzoom img{vertical-align:bottom;}
.easyzoom.is-loading img{cursor:progress}
.easyzoom.is-ready img{cursor:crosshair}
.easyzoom.is-error img{cursor:not-allowed}
.easyzoom-notice{top:50%;left:50%;z-index:150;width:10em;margin:-1em 0 0 -5em;line-height:2em;text-align:center;box-shadow:0 0 10px #888}
.easyzoom-flyout{z-index:100;overflow:hidden}
.easyzoom-overlay .easyzoom-flyout{top:0;left:0;width:100%;height:100%}
.easyzoom-adjacent .easyzoom-flyout{top:0;left:100%;width:100%;height:100%;margin-left:20px}
.easyzoom .easyzoom-img{display:table;width:100%;text-align:center;}

// Media Query.
@include screensize(x-small) {
    .simpleLens-gallery-container{
        .product-altimages{
            ul{padding: 0px 0px 0px 3px;list-style:none;}
        }
    }
    .simpleLens-lens-element {display:none;}
    .easyzoom img{width:310px;}
    .big-view-template{
        .simpleLens-container{height:290px;}
    }
    .btn-wishlist{top:20px;right:2px;}
}
@include screensize(small) {
    .easyzoom img{width:auto;}
    .big-view-template{
        .simpleLens-container{height:555px;}
    }
}
@include screensize(medium) {
    .simpleLens-lens-element {display:block;}
}

