﻿@import "../_base.scss";

.product-list-widget{
    .product-item{margin:5px auto 10px;max-width:263px;position:relative;}
    .view-item{border:1px solid $shipping-progress-bar;padding:0px;
        &:hover{box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.2);z-index:99;
            .item-error-msg{background:rgba(0,0,0,0.2);}
            .btn-quick-view{display:inline-table;}
        }
        .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-weight:600;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
        }
    }
    .product-img{
        .image{height:220px;width:100%;}
        img{margin:5px auto;height:auto;}
        .new-product-tag{position:absolute;top:5px;right:5px;z-index:99;width:40px;height:40px;}
        .btn-quick-view{position:absolute;top:206px;text-transform:uppercase;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-bold;background-color: $base-color-white;width:99%;opacity:.9;min-height:50px;color:$base-color-primary;font-size:$base-font-size+2;}  
    } 
    .product-details{margin-top:30px;padding:7px;
            h4{font-size:$base-font-size;color:$base-color-secondary;line-height:18px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}                     
            .price{margin:5px 0;
                   label{font-size:$base-font-size;margin:0;}
            }
            .cut-price{font-size:$base-font-size;}
            a{font-size:$base-font-size-small;text-decoration:none;color:$base-color-primary}            
    }
    .owl-theme .owl-controls{position:absolute;right:0;text-align:center;top:-56px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{border:1px solid $border-bgcolor-default;color:$base-color-primary;height:28px;width:28px;margin:0;line-height:26px;opacity:1;font-family:$znode-icon-font !important;
                &:hover{background-color:$base-color-primary;color:$base-color-white}
        }
        .owl-buttons .owl-prev{margin-right:5px;}
    }
    .recent-view-items{float:left;width:100%;}
    .recommended-view-items{float:left;width:100%;}     // TODO - refactor to not just duplicate .recent-view-items class?
    
}
// Media Query
@include screensize(x-small) {
.HPCategory .product-list-widget .owl-theme .owl-controls{display:none !important;}
.product-list-widget .owl-theme .owl-controls{display:block !important;}
#layout-home .product-list-widget {padding:0 5px;}
}

@include screensize(small) {
.HPCategory .product-list-widget .owl-theme .owl-controls{display:none !important;}
.product-list-widget .owl-theme .owl-controls{display:block !important;}
#layout-home .product-list-widget {padding:0;}
}
