﻿@import "../_base.scss";

.product-grid .filer-right {display: inline-flex;
   span{line-height: 36px;width: 35%;text-align:right;}
}
.product-grid .products-modes-setting {border-bottom:3px solid $base-color-secondary;
    h1{margin-top:0;}
    .view-mode{font-size:$base-font-size;line-height:47px;margin-left: 10px;
        a{padding-left:0px;display:inline-block;text-align:center;}
        i{font-size:20px;padding:5px;border:1px solid $border-bgcolor-default;border-radius:4px;color:#bababa;
            &:hover{background-color:$base-color-primary;color:$base-color-white;border-color:$base-color-primary;}
        }
        a.grid-view-opt-active > i,a.list-view-opt-active > i,a.text-view-opt-active > i{background-color:$base-color-primary;color:$base-color-white;border:1px solid $base-color-primary;}
    }
}

.product-grid .product-view{
    .product-item{margin: 15px auto;max-width: 263px;position: relative;
        .swatch-img-container{position:absolute;right:5px;bottom:110px;
            ul{margin:0; padding:0;
                li{display:block;cursor:pointer;width:25px;height:25px;margin-bottom:5px;}
            }
        }
        .view-item{border:1px solid $shipping-progress-bar;padding: 0px;
            &:hover{box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.2);z-index:99;
                .compare-link{opacity: 1;pointer-events:auto;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;left:6px;z-index:99;}
                .item-error-msg{background:rgba(0,0,0,0.2);}                
            } 
            .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-weight:600;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
            }          
        }
        .product-img{
            .image{height:255px;}
            .new-product-tag{position:absolute; top:5px; right:5px;z-index:99;width:40px;height:40px;}
            img{margin:5px auto;height:auto;}
            .btn-quick-view{position:absolute;top:207px;text-transform:uppercase;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-bold;background-color: $base-color-white;width:99%;opacity:.9;min-height:50px;color:$base-color-primary;font-size:$base-font-size+2;}  
        } 
        .product-details{margin-top:0px;padding:15px;
            h4{font-size:$base-font-size;overflow:hidden;color:$base-color-secondary;line-height:18px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}            
            .price{margin:5px 0;color:$base-color-secondary;font-weight:$base-font-bold;
                label{font-size:$base-font-size;margin:0;}
            }
            a{font-size:$base-font-size - 2;text-decoration:none;color:$base-color-primary}
        }
    }        
    .category-item{
        .image{min-height:220px;max-height:220px;}
        .short-description p{height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
        .btn-card{width:100%;}
        .category-img img{margin:0 auto;max-height:220px;}
        h4{font-size:$base-font-size;font-weight:bold;overflow:hidden;line-height:18px;}
    } 
    .text-view .product-item{
        .swatch-img-container{display:none;}  
        .view-item:hover .compare-link{opacity:1;pointer-events:auto;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;right:6px !important;left:auto;z-index:99;}
    } 

    // Product View Changes.   
    .list-view > li,.text-view > li{width: 100%;}
    .list-view li .product-item,.text-view li .product-item{max-width:100% !important;}
    .list-view li{
        .product-item .view-item{float:left;width:100%;
            .item-error-msg{width:26%;left:24px;}
        }
        .product-img{float:left;width:30%;padding:0 10px;            
            .btn-quick-view{left:11%;} 
        }
        .product-details{float:left;width:70%;margin-top:0;
            .title{margin:0 0 6px 0;} 
        }
    }
    .text-view li{    
        .product-item{margin:5px auto;
            .view-item{border-bottom:1px solid $border-bgcolor-default;
                .item-error-msg{width:100%;left:0;top:70px;background-color:transparent;text-align:left;left:10px;
                    p{color:$text-fgcolor-default;font-size:$base-font-size-small;text-shadow:none;}
                }
                .new-product-tag{right:55px;}
            }
        }
        .product-img{
            .image{display:none;}
            .compare-link{position:absolute;top:15px;right:-8px !important;bottom:65px;left:auto;opacity:0;pointer-events:none;}
            .btn-quick-view{top:45px;left:43%;}  
        }   
        .product-details{margin-top:0;
              .title{margin:0 0 6px 0;} 
        } 
    } 
    .text-view li .product-details .text-center,.list-view li .product-details .text-center{text-align:left !important;}
}

// Product View Changes.
.product-grid-ul{margin:0;padding:0;display:flex;flex-wrap:wrap;
    li{list-style:none;padding:0;margin:0;display:inline-block;
       label{font-weight: normal;color: #fff;cursor: pointer;background-color: #000000;width: 100%;margin: 0px;text-transform: uppercase;padding: 10px;text-align: left;font-weight: bold;}
    }
}

.search-paging{
    .search-pagination{padding:0 5px 0 0; 
       .search-result{float:none;font-size:$base-font-size - 2;line-height: 40px;}
        ul{margin-left:10px;padding:0;
            li{display:inline-block;list-style:none;
                a{padding:8px;}
                a.disabled{opacity:0.3;cursor:not-allowed;}
            }
            
        }
    }
}
.footer-pagination-class{border-top:1px solid $border-bgcolor-default;padding-bottom: 30px;
    #layout-paging .item-per-page {display: inline-flex;
    span{width:100%;line-height: 34px;margin-right: 8px;}
    .select-container{width:100%;}
}
}


// Compare Product Vertical Center.
.compare-product-popup{position:fixed;top:50%;transform:translate(0, -50%) !important;-webkit-transform:translate(0, -50%) !important;-moz-transform:translate(0, -50%) !important;left:0;right:0;}

// Compare Link On Product View.
.compare-link{position:absolute;top:15px;left:-30px;opacity:0;pointer-events:none;
    a{color:$base-color-primary;border:1px solid $base-color-primary;padding:10px;background-color:$base-color-white;}
    i{vertical-align:middle; text-align:center;font-size:22px;}
}

// Category Landing.
.category-list h1{border-bottom:5px solid $base-color-primary;margin-top:0;padding-bottom:10px;}

// Media Query.
@include screensize(x-small) {
    .grid-view > li{width: 49%;}
    .search-paging{padding:0;margin-bottom:15px;
        .search-pagination{padding:0 0px 0 0;}
    }
    .product-list-widget .view-item:hover .btn-quick-view,.product-grid .product-view .view-item:hover .btn-quick-view{display:none;}
    .product-grid .product-view{
        .product-item {
            .product-img{
                .image{height:auto;}
            } 
        }
        .list-view li .product-img{width:40%;
            .image{min-height:70px;}
        }
        .list-view li .product-details{width:60%;
        }
     }
    .compare-link{left:6px;top:210px;opacity:1;
        a{padding:5px;
            i{font-size:15px;}
        }
    }
    .list-view li{
        .compare-link{left:6px;top:10px;opacity:1;}        
    }
    .footer-pagination-class{padding: 0;}
    .product-grid .products-modes-setting {
        .view-mode{font-size:13px;line-height:47px;margin-left: 10px;width:50%;text-align:right;}
    }
    .product-grid .filer-right {
        span{width: 18%;}
    }
    
}
@include screensize(xl-small) {
    .grid-view > li{width: 50%;}
}
@include screensize(small) {
    .product-grid .product-view{
        .list-view li .product-img{
            .image{min-height:150px;}
            .btn-quick-view{top:150px;left:8%}
        }
    }
    .search-paging{padding:0 10px;font-size:$base-font-size-x-small;}    
    .compare-link{opacity:0;left:-30px;top:15px;
        a{padding:10px;
            i{font-size:22px;}
        }
    } 
    .list-view li{
        .compare-link{left:-30px;top:15px;opacity:0;}        
    }
}
@include screensize(medium) {
    .grid-view > li{width:33.33%;}
    .product-grid .product-view{
        .list-view li .product-img{
            .image{min-height:220px;}
            .btn-quick-view{top:210px;left:0%;width: 30%;}
        }
    }
    .product-grid .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:12px;}
        .btn-quick-view,.btn-add-cart{padding:0 12px 0 7px;font-size:12px;}
    }    
}
@include screensize(desktop) { 
    .product-grid .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:16px;}
        .btn-quick-view,.btn-add-cart{padding:0 15px 0 10px;font-size:13px;}
    }
    .product-list-widget .view-item:hover .btn-quick-view,.product-grid .product-view .view-item:hover .btn-quick-view{display:inline-table;}
}