﻿@import "../_base.scss";

// Owl Carousel Default Code.
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y;
    .item img {display:block;margin:0 auto;}
    .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);
            &:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
    }    
    .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;}
    .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}	
    .owl-item{float:left;}
    .owl-wrapper,.owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
    
    .carousel-caption{position:absolute;text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);top:14%;z-index:10;
            .first{font-size:$base-heading-font-secondary;text-transform:capitalize;color:$base-color-white;position:relative;margin-bottom:0;font-weight:normal;}
            h3{font-size:72px;text-transform:uppercase;color:$base-color-white;position:relative;margin:0;font-weight:normal;}
            div{font-size:$base-font-size + 2;text-transform:uppercase;color:$base-color-white;position:relative;margin-bottom:0;font-weight:normal;}
            a{position:relative;margin-left:0;padding-right:15px;margin-top:10px;
              i{vertical-align:middle; line-height:32px;padding-left:5px;}
            }
       }    
    
     // Alignment Class Set By Admin.
     .carousel-caption.Left{text-align:left;}
     .carousel-caption.Right{text-align:right;}
     .carousel-caption.Center{text-align:center;}    
    .green{background: #638c2f;}
}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.owl-pagination{display:none;}
.owl-theme .owl-controls{text-align:center;
        .owl-buttons div{color:$base-color-primary;display:inline-block;zoom:1;*display:inline;margin:5px;font-size:$base-font-size-small;border-radius:0;background:$base-color-white;filter:Alpha(Opacity=50);opacity:.5;cursor:pointer;}
        .owl-page{display:inline-block;zoom:1;*display:inline;
            span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;border:2px solid $base-color-white;}
            span.owl-numbers{height:auto;width:auto;color:$base-color-white;padding:2px 10px;font-size:$base-font-size-small;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;border:2px solid $base-color-white;}
        }        
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);background:$base-color-white !important;border:1px solid $base-color-white;}

// This Code is only for Slider widget.
.slider{    
    .item img{display:block;width:100%;height:auto;}
    .owl-pagination{margin-top:-37px;display:block;}
    .owl-buttons{
        .owl-prev{float:left;padding:15px 10px;position:absolute;top:45%;left:0;}
        .owl-next{float:right;padding:15px 10px;position:absolute;top:45%;right:0;}
    }    
}

// For Box View.
.Boxed{margin:0 auto;}

// Media Query.
@include screensize(x-small) {
.owl-carousel .carousel-caption.Left {position: relative;background-color: $nav-bgcolor-hover;top: 0px;left:0px;padding: 25px 10px 25px 10px;}
.owl-carousel{
    .item img {height:auto;}
    .carousel-caption{
        .first{font-size:$base-font-size!important;}
        h3{font-size:30px!important;}
        div{font-size:$base-font-size-small!important;}
    }
}
.slider{
    .owl-buttons{
        .owl-prev{padding:10px 6px;top:35%;}
        .owl-next{padding:10px 6px;top:35%;}
    } 
}
}
@include screensize(small) {
.Boxed{width:750px;}
.owl-carousel{
    .item img {height:auto;}
    .carousel-caption.Left{left:8%;}
    .carousel-caption.Right{right:8%;}
}
}
@include screensize(medium) {
.Boxed{width:992px;}
.owl-carousel{
    .carousel-caption{
            .first{font-size:$base-heading-font-secondary;}
            h3{font-size:72px;}
            div{font-size:$base-font-size + 2 ;}
    }
}
.slider{
    .owl-buttons{
        .owl-prev{padding:15px 10px;top:38%;}
        .owl-next{padding:15px 10px;top:38%;}
    } 
}
}
@include screensize(desktop) {
.Boxed{width:1170px;}
.owl-carousel{        
    .carousel-caption.Right{top:40%;}
    .carousel-caption.Center{top:40%;}
}
}
@include screensize(large) {
.owl-carousel{    
    .carousel-caption.Left{top:14%;}
}
.slider{
    .owl-buttons{
        .owl-prev{top:42%;}
        .owl-next{top:42%;}
    } 
}
}
@include screensize(x-large) {
.owl-carousel{    
    .carousel-caption.Left{top:14%;left:20%}
    .carousel-caption.Right{top:46%;right:20%;}
    .carousel-caption.Center{top:46%;}
}
}

// Owl Carousel CSS3 Transitions.
.owl-origin{-webkit-perspective:1200px;-webkit-perspective-origin-x:50%;-webkit-perspective-origin-y:50%;-moz-perspective:1200px;-moz-perspective-origin-x:50%;-moz-perspective-origin-y:50%;perspective:1200px}
.owl-fade-out{z-index:10;-webkit-animation:fadeOut .7s both ease;-moz-animation:fadeOut .7s both ease;animation:fadeOut .7s both ease}
.owl-fade-in{-webkit-animation:fadeIn .7s both ease;-moz-animation:fadeIn .7s both ease;animation:fadeIn .7s both ease}
.owl-backSlide-out{-webkit-animation:backSlideOut 1s both ease;-moz-animation:backSlideOut 1s both ease;animation:backSlideOut 1s both ease}
.owl-backSlide-in{-webkit-animation:backSlideIn 1s both ease;-moz-animation:backSlideIn 1s both ease;animation:backSlideIn 1s both ease}
.owl-goDown-out{-webkit-animation:scaleToFade .7s ease both;-moz-animation:scaleToFade .7s ease both;animation:scaleToFade .7s ease both}
.owl-goDown-in{-webkit-animation:goDown .6s ease both;-moz-animation:goDown .6s ease both;animation:goDown .6s ease both}
.owl-fadeUp-in{-webkit-animation:scaleUpFrom .5s ease both;-moz-animation:scaleUpFrom .5s ease both;animation:scaleUpFrom .5s ease both}
.owl-fadeUp-out{-webkit-animation:scaleUpTo .5s ease both;-moz-animation:scaleUpTo .5s ease both;animation:scaleUpTo .5s ease both}
@-webkit-keyframes empty {
0%{opacity:1}
}
@-moz-keyframes empty {
0%{opacity:1}
}
@keyframes empty {
0%{opacity:1}
}
@-webkit-keyframes fadeIn {
0%{opacity:0}
100%{opacity:1}
}
@-moz-keyframes fadeIn {
0%{opacity:0}
100%{opacity:1}
}
@keyframes fadeIn {
0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@-moz-keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@-webkit-keyframes backSlideOut {
25%{opacity:.5;-webkit-transform:translateZ(-500px)}
75%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}
100%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}
}
@-moz-keyframes backSlideOut {
25%{opacity:.5;-moz-transform:translateZ(-500px)}
75%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%)}
100%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%)}
}
@keyframes backSlideOut {
25%{opacity:.5;transform:translateZ(-500px)}
75%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}
100%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}
}
@-webkit-keyframes backSlideIn {
0%,25%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;-webkit-transform:translateZ(-500px)}
100%{opacity:1;-webkit-transform:translateZ(0) translateX(0)}
}
@-moz-keyframes backSlideIn {
0%,25%{opacity:.5;-moz-transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;-moz-transform:translateZ(-500px)}
100%{opacity:1;-moz-transform:translateZ(0) translateX(0)}
}
@keyframes backSlideIn {
0%,25%{opacity:.5;transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;transform:translateZ(-500px)}
100%{opacity:1;transform:translateZ(0) translateX(0)}
}
@-webkit-keyframes scaleToFade {
to{opacity:0;-webkit-transform:scale(.8)}
}
@-moz-keyframes scaleToFade {
to{opacity:0;-moz-transform:scale(.8)}
}
@keyframes scaleToFade {
to{opacity:0;transform:scale(.8)}
}
@-webkit-keyframes goDown {
from{-webkit-transform:translateY(-100%)}
}
@-moz-keyframes goDown {
from{-moz-transform:translateY(-100%)}
}
@keyframes goDown {
from{transform:translateY(-100%)}
}
@-webkit-keyframes scaleUpFrom {
from{opacity:0;-webkit-transform:scale(1.5)}
}
@-moz-keyframes scaleUpFrom {
from{opacity:0;-moz-transform:scale(1.5)}
}
@keyframes scaleUpFrom {
from{opacity:0;transform:scale(1.5)}
}
@-webkit-keyframes scaleUpTo {
to{opacity:0;-webkit-transform:scale(1.5)}
}
@-moz-keyframes scaleUpTo {
to{opacity:0;-moz-transform:scale(1.5)}
}
@keyframes scaleUpTo {
to{opacity:0;transform:scale(1.5)}
}