﻿@import "../_base.scss";

.header{position:relative;top:0;left:0;max-width:100%;transition:height 500ms, background 500ms;z-index:999;background-color:$base-color-white;-webkit-box-shadow: 0 7px 5px -6px $base-color-primary;box-shadow: 0 7px 5px -6px $base-color-primary;
    .header-logo{float:left;width:100%;max-height:95px;padding-top: 15px;padding-right:5px;color:$base-color-primary;
        img{max-height:95px;display:block;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-size:22px;}
        h1{color:$base-color-primary;font-size:22px;}
    }
    .header-link-contain{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s; 
        .header-link ul{float:right;padding-left:0;
            li{display:inline;list-style:none;border-right:1px solid $border-bgcolor-default;padding:0 5px;line-height:34px;position: relative;
                &:hover {color:$base-color-primary;}
                &:last-child {border: none;}
                a{padding-left:5px;font-size:$base-font-size-small;}
                a.user-icon{padding:0;
                    &:hover{padding-left:0;color:$base-color-primary;}
                }
                .log-off{border-left:1px solid $border-bgcolor-default;}
                .header-toolbar-cart{color:$base-color-primary;}
               form{display:inline;}
                i.zf-login-user{float:left;margin-top: 5px;}
            } 
            .cart-icon{border-right: none !important;}
        }
    }
    .header-nav-container{background-color:$nav-bgcolor;height:50px;        
        .zf-caret-right{display:none;}
        .navbar-toggle{float:left;margin:8px 0 8px 10px;background-color:$base-color-white;
            .icon-bar{background-color:$base-color-primary;}
        }        
    }    
    .header-local-container{background-color:$base-color-primary;height:40px;
        .Top-Head-Msg{text-transform:uppercase;text-align:center;color:$base-color-white;line-height: 40px;font-size:$base-font-size-small;}
    } 
    .header-link-contain-nav{margin-top:10px;padding:0;height: 70px;}
}
.proxy-login-section{background:$base-color-primary;
                         .proxy-login{display:flex;justify-content:center;align-items:center;padding:0px;}
                         span{font-weight:bold;color:$success-msg-fgcolor;}
                         .log-off{background:$success-msg-fgcolor;color:$nav-bgcolor;padding:0 10px;margin:4px 4px 4px 7px;border-radius:2px;font-weight:bold;}
    }
.hide-show {display: none;}
.header-checkout{border-bottom:1px solid $border-bgcolor-default;}

// Media Query.
@include screensize(x-small) {
    .header{
        .header-logo{font-size:40px;min-height:70px;max-height:70px;padding-right:0;margin-bottom:2px;
            img{margin:0 auto;width:180px;max-height:70px;}
            h1{font-size:40px;text-align:center;}
        }
        .header-nav{top: 74px;position: absolute;right: 0px;width: 240%;}
        .header-nav-container .navbar-toggle {float: right;}
        .header-local-container{ height:30px;
            .Top-Head-Msg{font-size:13px;line-height: 30px;}
        }
        .header-link-contain{padding:5px 10px;
            .header-link ul{padding-right:5px;padding-top:12px;margin-bottom:0;
                .username{display:none;}
            }
        }
    }
    .proxy-login-section .proxy-login{padding:0px;}
    .mobile-header{padding:0px;position:absolute;margin-top:8px;
        li{display: inline;list-style: none;padding: 0 7px;line-height: 34px;position: relative;}
    }
}
@include screensize(small) {
    .header{
        .header-logo{min-height:auto;padding-right:5px;margin-bottom:0;padding:0px;
            img{margin:0;width:210px;max-height:95px;}
            h1{font-size:56px;text-align:left;}
        } 
        .header-link-contain{margin-top:5px;padding:0;
            .header-link ul{padding-top:0;padding-right:10px;
                .username{display:inline-block;}
                }
        }
    } 
    
}
@include screensize(medium) {     
    .header{
        .header-link-contain{
            .header-link ul{padding-right:0;padding-top:5px;}
        }
    }  
}
