﻿@using Znode.Engine.WebStore.ViewModels;
@model CMSPageListViewModel
@{
    string searchTerm = Model?.SearchKeyword;
    string domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<div class="blog-search-list-container">
    @if (Model != null)
    {
        if (Model.CMSPages?.Count > 0)
        {
            <div class="row">
                <div class="col-md-12 blog-header-results">
                    <p class="search-result" data-test-selector="lblCMSSearchResult">@Html.RenderBlock(Model.SearchResultCountText)</p>
                </div>
            </div>

            <div class="col-sm-offset-2 col-md-offset-3" id="cmspagingsearching">
                @Html.Partial("../Search/_ContentPageSearchPagination", Model)
            </div>

            <div class="row blog-list">

                @foreach (CMSPageViewModel cmsPage in Model.CMSPages)
                {
                    string cmsTitle = !string.IsNullOrEmpty(cmsPage.SeoTitle) ? cmsPage.SeoTitle : cmsPage.PageTitle;
                    string seoURL = @domainurl + @Url.GetContentPageUrl(cmsPage.SeoURL, cmsPage.ContentPageId);
                    string seoDescription = cmsPage.SeoDescription;

                    <div class="col-md-12 blog-item">
                        <h4 class="blog-title"><a href="@seoURL">@cmsTitle</a></h4>
                        <div class="blog-description">
                            <p>@seoDescription</p>
                        </div>
                        <div class="blog-seo-url">
                            <a href="@seoURL">@seoURL</a>
                        </div>
                    </div>
                }
            </div>

            <div class="col-sm-offset-2 col-md-offset-3" id="cmsfooterpagingsearching">
                @Html.Partial("../Search/_ContentPageSearchFooterPagination", Model)
            </div>
        }
        else
        {
            <div class="col-sm-12 nopadding margin-bottom" data-test-selector="divResultFoundMessage">
                @Html.RenderBlock(WebStore_Resources.NoCMSPageSearchResultFound?.Replace("{0}", searchTerm))
            </div>
        }
    }
</div>