﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    bool isShoppingCartContainsItems = Model?.ShoppingCartItems?.Any() ?? false;
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
}

<div class="container">
    <div id="divShoppingCart" class="col-md-12">
        <div class="b2b-cart-page">
            <div class="row">
                <div class="col-12 shopping-cart">
                    <div class="row">
                        <div class="col-12 col-lg-8 d-flex justify-content-between pr-md-0 flex-wrap flex-column flex-lg-row align-items-lg-center">
                            <h1 class="page-title" data-test-selector="hdgShoppingCartHeading">@WebStore_Resources.LabelCart</h1>
                            @if (isShoppingCartContainsItems)
                            {
                                <a href="/" class="btn btn-secondary d-block d-md-inline-block" data-test-selector="linkContinue">@WebStore_Resources.ButtonContinueShopping</a>
                            }

                        </div>
                        <div class="col-12 col-lg-4 b2b-right-cart-container pl-md-4 justify-content-end">

                            @if ((!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated) && isShoppingCartContainsItems)
                            {
                                <a href="/Checkout" class="btn btn-primary mt-3 mt-md-0 w-100" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();" data-test-selector="lnkCheckout">@WebStore_Resources.ButtonCheckout</a>
                            }
                            @*if store level flag - 'show price to logged-in users only' is set to yes and user is logged off then do not show price to users.*@
                            @if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
                            {
                                if (isShoppingCartContainsItems)
                                {
                                    <div class="loged-out-product-details text-center text-md-right mt-4 pt-0">
                                        <div class="loged-out-product-title">@WebStore_Resources.TitleReadyForCheckout</div>
                                        <div class="loged-out-product-text">
                                            <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                                            @WebStore_Resources.TextOR
                                            <a href="/User/Signup/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">@WebStore_Resources.LabelRegister</a>
                                            @WebStore_Resources.TextViewPriceAndPlaceOrders
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    @*<div class="row">
        <div class="col-12 p-0">*@
                    @if (Model?.ShoppingCartItems?.Any() ?? false)
                    {
                        <div class="row">
                            <div class="col-12 col-lg table-responsive mb-5 pl-md-4 pr-md-1">
                                <div class="cart-products">
                                    <div class="col-12 cart-total-title d-flex flex-wrap">
                                        @if (!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated)
                                        {
                                            <h4>@WebStore_Resources.B2BTextYourTotal <span id="dynamic-cart-order-total">@Helper.FormatPriceWithCurrency(Model.Total, Model.CultureCode)</span> <span>for @Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount()) items</span></h4>
                                        }
                                        <div class="col-12 col-md d-md-flex justify-content-md-end p-0">
                                            @using (Html.BeginForm("RemoveAllCartItem", "Cart", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="JavaScript:void(0);" class="cart-item-remove mt-3 mt-md-0 mr-4" onclick="javascript:$($(this).closest('form').submit());" data-test-selector="linkRemoveAllCartItem"><span class="close-circle-icon"></span>@WebStore_Resources.LabelRemoveAllItems</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-12 b2b-cart">
                                        @*To show the recently added product on the top of cart.*@
                                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                                        {
                                            @Html.Partial("_CartRow", cartItem)
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated)
                            {
                                <div class="col-12 col-lg-4 cart-summary mb-5 pl-md-4 pr-md-0">
                                    <div class="row">
                                        <div class="col-12 cart-total mb-4">
                                            @* Do not remove order-summary class *@
                                            <div class="b2b-block order-summary" id="summary-details">
                                                <div class="carttotalcontentarea"> <img src='../Content/Images/loading.svg' alt="Loading" class="dashboard-loader d-flex justify-content-center"> </div>
                                                <script>
                                                    $.get("/cart/CalculateCart", function (res) {
                                                        $(".carttotalcontentarea").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); $(".dashboard-loader").hide();
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-4">
                                            @Html.Partial("../_ApplyCoupon", Model)
                                        </div>
                                        <div class="col-12 mb-4">
                                            @if (!string.IsNullOrEmpty(Model.ZipCode))
                                            {
                                                @Html.Partial("../_ShippingEstimator", Model.ZipCode)
                                            }
                                            else
                                            {
                                                @Html.Partial("../_ShippingEstimator", string.Empty)
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>


                        <!--promotion & shipping bar-->
                        <div class="cart-promotion-bar col-xs-12 nopadding"></div>
                        <script>$.get("/cart/CartPromotionBar", function (res) { $(".cart-promotion-bar").html(res); });</script>
                    }
                    else
                    {
                        <div class="col-12 p-0 mb-5 cart-summary">
                            <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 margin-top nopadding">
        <!--Recommended Products Widget, will be displayed on cart page-->
        <div data-test-selector="divRecommendedProductList">
            <z-widget>
                @Html.WidgetPartialAjax("CartRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
            </z-widget>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            $("#checkOut-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    }
</script>
