﻿@using Znode.Engine.Admin.ViewModels
@model PaymentSettingViewModel
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
}
        <div class="col-lg-8">
            <div class="panel panel-default payment-method-container">
                <div class="panel-heading">
                    <h4 class="panel-title panel-title-edit ">@Admin_Resources.TitlePayments</h4>
                </div>
                <div class="panel-body">
                    <div class="order-payment">
                        <div class="col-sm-12 nopadding">
                            <div class="clearfix margin-bottom">
                                <div class="pull-right">
                                </div>
                            </div>
                            <div id="div_payment_option">
                                <div class="form-group">
                                    <div class="col-sm-12 margin-left-10">
                                        <div class="control-label">
                                            @Html.Label(Admin_Resources.LabelPayment)
                                        </div>
                                        <div class="control-md order-details">
                                            <select id="ddlPaymentTypes" name="ddlPaymentTypes" onchange="Order.prototype.ShowPaymentHtml(this);">
                                                <option value="">@Admin_Resources.LabelSelectPaymentType</option>
                                                @foreach (var item in Model.PaymentTypeList.Where(x => !x.Type.ToUpper().Contains(Admin_Resources.TextAmazon) && !x.Type.ToUpper().Contains(Admin_Resources.TextPaypal)))
                                                {
                                                    <option value="@item.Value" id="@item.Type@item.Id" data-payment-type="@item.Type">@item.Text</option>
                                                }
                                            </select>
                                            @Html.ValidationMessage("PaymentTypeId", null, new {id = "valPaymentTypes"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*COD*@
                        <div class="col-sm-12 top-shift nopadding HidePaymentTypeDiv" id="div-COD" style="display: none;"></div>
                        @*Purchase Order *@
                        <div class="col-sm-12 top-shift nopadding HidePaymentTypeDiv" id="div-PurchaseOrder" style="display: none;">
                            <div class="form-group">
                                <div class="col-sm-12 margin-left-10">
                                    <div class="control-label required">@Html.Label(Admin_Resources.LabelPruchaseOrderNumber)</div>
                                    <div class="control-md" id="divPurchaseOrderNumber">
                                        <input type="text" id="PurchaseOrderNumber" name="PurchaseOrderNumber" class="form-input" size="40" maxlength="200" value="" onblur="OrderTabs.prototype.OnBlurPurchaseOrderNumber()"/>
                                        <div id="cart-ponumber-status" class="red-color field-validation-error" style="display: none;">@Admin_Resources.rfvPurchaseOrderNumber</div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.IsPoDocUploadEnable)
                            {
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-label">
                                            @Html.Label(Admin_Resources.LabelSelectFileToImport, new {@id = "lblSelectFile"})
                                        </div>
                                        <div class="control-md">
                                            <div class="col-sm-7 nopadding" id="poUploader">
                                                <span title="@Admin_Resources.ButtonUpload" class="btn-text-icon file-upload">@Admin_Resources.ButtonUpload</span>
                                                <div>
                                                    <label title="@Admin_Resources.ButtonUpload" class="">
                                                        <input type="file" value="" name="PODocument" id="PODocument">
                                                    </label>
                                                    <span data-valmsg-replace="true" data-valmsg-for="PODocument" class="field-validation-valid"></span>
                                                    <output data-selector="PODocument" class="output-image" id="thumbnailList"></output>
                                                </div>
                                                <span id="PODocumentError" class="field-validation-error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        @*Credit Card *@
                        <div id="div-CreditCard" class="col-xs-12 add-new-container HidePaymentTypeDiv" style="display: none;">
                            <div class="col-xs-12">
                                <div class="Tab-container dynamic-tabs margin-top">
                                    <ul id="creditCardTab" class="nav nav-tabs">
                                        <li class="active"><a href="#savedCreditCard-panel" data-toggle="tab" class="tabs">@Admin_Resources.LabelSavedCC</a></li>
                                        <li><a href="#addNewCreditCard-panel" data-toggle="tab" class="tabs">@Admin_Resources.LabelAddCC</a></li>
                                    </ul>
                                    <div id="creditCardPanel" class="tab-content">
                                        <!--Panels 1-->
                                        <div class="tab-pane fade in active margin-top order-saved-credit" id="savedCreditCard-panel">
                                            <div id="radioCCList">
                                            </div>
                                        </div>
                                        <!--Panels 2-->
                                        <div class="tab-pane fade margin-top" id="addNewCreditCard-panel">
                                            <h3 class="section-heading" data-test-selector="hdgCreditCardDetails">@Admin_Resources.LabelCreditCardDetails</h3>
                                            <div class="col-sm-12 save-cart nopadding margin-bottom">
                                                <div class="col-sm-12 col-md-6 nopadding" data-test-selector="divPaymentProviders" id="paymentProviders">
                                                </div>
                                            </div>
                                            <div id="credit-card-div" class="col-sm-12 nopadding">
                                                <div class="form-group">
                                                    <div class="col-sm-12 nopadding">
                                                        <div class="control-label">
                                                            <label class="required" data-test-selector="lblCreditCardNumber">@Admin_Resources.LabelCreditCardNumber</label>
                                                        </div>
                                                        <div class="control-md">
                                                            <input type="text" data-payment="number" id="CreditCardNumber" data-test-selector="txtCreditCardNumber" />
                                                            <div id="errornumber" class="field-validation-error" style="display: none" data-test-selector="valCreditCardNumber">@Admin_Resources.ErrorCardNumberMsg</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12 nopadding">
                                                        <div class="control-label">
                                                            <label class="required" data-test-selector="lblCardCreditExpirationDate">@Admin_Resources.CardCreditExpirationDate</label>
                                                        </div>
                                                        <div class="control-md">
                                                            <div class="col-sm-2 col-md-2 nopadding"><input type="text" maxlength="2" data-payment="exp-month" data-test-selector="txtExpirationMonth" /><span class="sub">(MM)</span></div>
                                                            <div class="col-sm-3 col-md-4 "><input type="text" maxlength="4" data-payment="exp-year" data-test-selector="txtExpirationYear" /><span class="sub">(YYYY)</span></div>
                                                            <div class="col-sm-12 nopadding">
                                                                <div id="errormonth" class="field-validation-error" style="display: none" data-test-selector="valExpirationMonth">@Admin_Resources.ValidationEnterValidDate</div>
                                                                <div id="erroryear" class="field-validation-error" style="display: none" data-test-selector="valExpirationYear">@Admin_Resources.ErrorValidYear</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @* Added form tag-- autocomplete works only in form tag. *@
                                                <form>
                                                    <div class="form-group">
                                                        <div class="col-sm-12 nopadding">
                                                            <div class="control-label">
                                                                <label class="required" data-test-selector="lblCardSecurityNumber">@Admin_Resources.CardSecurityNumber</label>
                                                            </div>
                                                            <div class="control-sm">
                                                                <input type="password" data-payment="cvc" maxlength="4" data-test-selector="txtCardSecurityNumber" autocomplete="false" />
                                                                <span class="sub" data-test-selector="spnCardPaymentNote">@Admin_Resources.CardPaymentNote</span>
                                                                <div id="errorcvc" class="field-validation-error" style="display: none" data-test-selector="valCardSecurityNumber">@Admin_Resources.ErrorValidCVC</div>
                                                            </div>
                                                        </div>
                                                </form>
                                            </div>
                                                <div class="form-group" id="Save-credit-cardholder-name">
                                                    <div class="col-sm-12 nopadding">
                                                        <div class="control-label">
                                                            <label class="required" data-test-selector="lblCardHolderName">@Admin_Resources.CardHolderName</label>
                                                        </div>
                                                        <div class="control-md">
                                                            <input type="text" data-payment="cardholderName" class="form-input-long" data-test-selector="txtCardHolderName"/>
                                                            <div id="errorcardholderName" class="field-validation-error" style="display: none" data-test-selector="valCardHolderName">@Admin_Resources.ErrorCardHolderName</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="Save-credit-card">
                                                    <div class="col-sm-12 nopadding">
                                                        <div class="control-md control-non">
                                                            <label>
                                                                <input id="SaveCreditCard" name="SaveCreditCard" type="checkbox" data-test-selector="chkSaveCreditCard">
                                                                <span class="lbl padding-8" for="SaveCreditCard" data-test-selector="spnSaveCreditCard">@Admin_Resources.SaveCreditCardDetails</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Gateway Information*@
                            @Html.Hidden("GatewayCurrencyCode", "USD")
                            @Html.Hidden("paymentProfileId")
                            @Html.Hidden("hdnGatewayCode")
                            @Html.Hidden("hdnPaymentCode")
                            @Html.Hidden("hdnEncryptedTotalAmount")
                        </div>

                    </div>
                </div>
            </div>
        </div>       

@Html.Hidden("PaymentSettingId")
@Html.HiddenFor(model => model.PaymentTypeId, new { @id = "hdnPaymentTypeId" })
<div id="ReviewOrderPopup" class="aside-popup-panel"></div>

@Scripts.Render("~/Scripts/References/jquery.payment.min.js")
<script>
    $("#CreditCardNumber").keypress(function () {
        $('#CreditCardNumber').payment('formatCardNumber');
    });
</script>
