﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.Agents
@model ProductListViewModel
@{
    TempData[WebStoreConstants.ProductCount] = Model?.Products?.Count;
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string searchValue = string.IsNullOrEmpty(Model.SuggestTerm) ? Model.SearchKeyword : Model.SuggestTerm;
    UserViewModel userModel = Helper.GetUserDetails();
    int? portalId = Helper.GetCurrentPortalId();
    int? userId = userModel?.UserId;
    int? profileId = userModel?.Profiles?.FirstOrDefault()?.ProfileId;
    long? resultCount = Model?.TotalProductCount;

    bool addDataToDB = !string.IsNullOrEmpty(searchTerm) ? true : false;
    if (Request.QueryString != null && (Request.QueryString["fromSearch"] != null || Request.QueryString["sort"] != null || Request.QueryString["pagenumber"] != null || Request.QueryString["pageSize"] != null))
    {
        addDataToDB = false;
    }
}

@if (Model?.Products?.Count > 0)
{
    var categoryName = Model.Products.First()?.CategoryName;

<div class="col-xs-12 product-grid nopadding">
    <div class="col-xs-12 nopadding products-modes-setting">
        <div class="col-xs-12 col-sm-6 col-lg-6 nopadding hidden-xs">
            @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
                {
                    <div class="col-sm-12 nopadding margin-bottom">
                        <p data-test-selector="lblShowingResults">Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                        <p data-test-selector="lblSearchInstedOf">Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
                    </div>
                }
                else if (!Equals(Model.SearchResultCountText, null))
                {
                    <p class="search-result" data-test-selector="lblSearchResult">@Html.RenderBlock(Model.SearchResultCountText)</p>
                }
            }
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 nopadding filer-right" style="display: inline-flex;">
            <span data-test-selector="spanViewModeLabel" class="filtertxt hidden-xs">Filter By &nbsp;</span>
            <div id="pagingsearching">
                @Html.Partial("../Search/_PagingSearching", Model)
            </div>
            <div class="view-mode pull-right">               
                <a data-test-selector="linkListView" href="javascript:void(0);" class="productview list-view-opt" title="List View"><i class="zf-list-view"></i><span class="hidden">List</span></a>
                <a data-test-selector="linkGridView" href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"><i class="zf-grid-view"></i><span class="hidden">Grid</span></a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 product-view nopadding">
        <ul data-test-selector="listProductsContainer" id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
            @{
                if (!Equals(Model, null))
                {
                    foreach (var p in Model.Products)
                    {
                        <li data-test-selector="listProductsList">
                            <article class="product-item">
                                @Html.Partial("../Product/_ProductTile", p)
                            </article>
                        </li>
                    }
                }
            }
        </ul>

        <div id="loading" class="loader" style="display:none;"></div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 footer-pagination-class" id="pagingsearching">
        @Html.Partial("../Search/_FooterPagination", Model)
    </div>
</div>
}
else
{
    if (!string.IsNullOrEmpty(Model.SearchTextName) && Model.SearchTextName != "Search")
    {

        <div class="col-sm-12 nopadding">
            @string.Format(WebStore_Resources.ErrorProductSearchResult, Model.SearchTextName)
        </div>
    }
    else
    {
        <div class="col-sm-12 nopadding margin-bottom" data-test-selector="divResultFoundMessage">
            @Html.RenderBlock(WebStore_Resources.NoSearchResultsFound?.Replace("{0}", searchTerm))
        </div>
    }
}

<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
        $("#searchTextBox").val('@Html.RenderBlock(searchValue)');

        if ('@addDataToDB'=='True') {
            var model = {
                "UserId": '@userId',
                "SearchProfileId": '@Model.SearchProfileId',
                "PortalId": '@portalId',
                "UserProfileId": '@profileId',
                "SearchKeyword": '@Model.SearchKeyword',
                "TransformationKeyword": '@Model.SuggestTerm',
                "ResultCount": '@resultCount'
            };
            Search.prototype.SaveSearchReportData(model)
        }
    })

</script>
@Html.Partial("../Schema/_ProductListSchema", Model)