﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities

@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomeField)?.OrderBy(x => x.DisplayOrder)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div class="col-xs-12 nopadding" id="product-content">
    <div class="product-details-tab">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a data-test-selector="linkPanel1" href="#panel-1" data-toggle="tab" class="tabs">OVERVIEW</a></li>
            <li><a data-test-selector="linkPanel2" href="#panel-2" data-toggle="tab" class="tabs">FEATURES</a></li>
            @if (!string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.VideoURL)))
            {
                <li><a data-test-selector="linkPanel4" href="#panel-4" data-toggle="tab" id="tab-youtbevideos" class="tabs">@WebStore_Resources.TextYouTubeVideos</a></li>
            }
            @if (CustomeFields?.Count > 0)
            {
                <li><a data-test-selector="linkPanel5" href="#panel-5" data-toggle="tab" id="tab-youtbevideos" class="tabs">@WebStore_Resources.TitleAdditionalInformation</a></li>
            }
            <li><a data-test-selector="linkPanel3" href="#panel-3" data-toggle="tab" id="tab-reviews" class="tabs">REVIEWS</a></li>
            <li><a data-test-selector="linkPanel6" href="#panel-6" data-toggle="tab" id="" class="tabs">AVAILABILITY</a></li>
        </ul>
        <div id="myTabContent" class="tab-content scroll-default">
            <!--Panels 1 Overview-->
            <div class="tab-pane fade in active" id="panel-1">
                <div data-test-selector="divDetailsDescription" id="product-longdetail-container">
                    @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("FeatureDescription")))
                </div>
                <!--Product Details Long Description-->
                 <div class="col-xs-12 nopadding" data-test-selector="divLongDescription">@Html.RenderBlock(Model.Attributes.Value("LongDescription"))</div>
              </div>
            <!--Panels 2 Features-->
            <div class="tab-pane fade" id="panel-2">
                <div data-test-selector="divSpecificationDescription" id="product-specification-container">
                    @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("ProductSpecification")))
                </div>
            </div>
            <!--Panels 3 Reviews-->
            <div class="tab-pane fade" id="panel-3">
                <div class="col-xs-12 nopadding">
                    <a data-test-selector="linkWriteReview" href="/Product/writereview?id=@productId&name=@Model.Name" id="button-writeReview" class="btn-text btn-bg-primary pull-right">@WebStore_Resources.LinkTextWriteReview</a>
                </div>
                <div class="col-xs-12 nopadding">
                    <div data-test-selector="divReviewDescription" id="product-review-container">
                        @Html.Partial("_ProductReviews", Model.ProductReviews)
                    </div>
                </div>
            </div>
            <!--Panels 6 AVAILIBILITY-->
            <div class="tab-pane fade" id="panel-6"></div>


            <!-- Panels 4-->
            @if (!string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.VideoURL)))
            {
                <div class="tab-pane fade" id="panel-4">
                    <div id="product-youtubevideo-container" class="col-xs-12 col-sm-6 nopadding">

                        @Html.Video(Model.Attributes?.Value(ZnodeConstant.VideoURL))

                    </div>
                </div>
            }
            <!--Panels 5-->
            @*@if (showDocumentContent)
        {
            <div class="tab-pane fade" id="panel-5">
                <div id="product-specification-container">
                    @{
                        int documentCount = 0;
                        if (!Equals(Model.ProductsDocuments, null))
                        {
                            documentCount = Model.ProductsDocuments.Items.Count;

                            for (int iDocumentCount = 0; iDocumentCount < documentCount; iDocumentCount++)
                            {
                                @Html.Partial("_DocumentSpecificationRow", Model.ProductsDocuments.Items[iDocumentCount])
                            }
                        }
                    }
                </div>
            </div>
                        }*@

            @if (CustomeFields?.Count > 0)
            {
                <div class="tab-pane fade" id="panel-5">
                    <div id="product-youtubevideo-container" class="col-xs-12 col-sm-6 nopadding">
                        @{
                            foreach (var item in CustomeFields)
                            {
                                <div class="product-brand">
                                    <label>@Html.RenderBlock(item.AttributeName) : </label>
                                    @Html.RenderBlock(item.AttributeValues)
                                </div>
                            }
                        }

                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12 margin-top nopadding">
            <!--Recommended Products Widget, will be displayed on PDP page-->
            <div data-test-selector="divRecommendedProductList">
                <z-widget>
                    @Html.WidgetPartialAjax("PDPRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
                </z-widget>
            </div>
        </div>
    </div>
