﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.ViewModels
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
}

<div class="PDP-Name">
   

    <!--isObsolete Pricing-->
    <div class="col-xs-12 product-price nopadding">
        @if (isObsolete)
        {
            <div class="col-12 product-price p-0">
                <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(obsoleteMessage)</h4></div>
            </div>
        }
        @if (isGroupProduct && !IsCallForPricing)
        {<h2><span id="groupproductmessage"></span></h2>}
    </div>

    <div class="col-xs-12 nopadding PDP-setNamewithprice">
        <!--Product Name-->
        <h1 data-test-selector="hdgProductName" class="product-name">@Html.RenderBlock(Model.Name) &nbsp; &nbsp;</h1>
        <!--Price Section-->
        <div class="col-xs-12 nopadding your-pricing">
            @if (!IsCallForPricing && !isGroupProduct)
            {
                <div class="price" id="product_Detail_Price_Div">
                    @if (IsCloudflareEnabled)
                    {
                        <h3 class="dynamic-product-price @obsoleteClass">
                            <span class="cloudflareSpan" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                        </h3>
                    }
                    else
                    {
                        if (!Equals(Model.SalesPrice, null))
                        {
                            <h3 class="dynamic-product-price @obsoleteClass" data-test-selector="hdgProductPrice">
                                @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                {
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                }
                                else
                                {
                                    @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                }
                            </h3>
                            if (Model.SalesPrice != @Model.RetailPrice)
                            {
                                <span class="cut-price" data-test-selector="spnCutPrice">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                <h3 data-test-selector="lblPriceCut" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</h3>
                                <span data-test-selector="spnCutPrice" class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                            else
                            {
                                <h3 data-test-selector="hdgProductPrice" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CultureCode, UOM)</h3>
                            }
                        }
                    }
                </div>
            }
            @if (IsCallForPricing)
            {
                <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
            }
        </div>
    </div>
    <!--Hightlights-->
    <div class="col-xs-12 highlight-container nopadding">
        <div data-test-selector="divHighlight" class="col-xs-12 product-highlight nopadding">
            @{
                if (Model.PublishProductId > 0)
                {
                    List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                    if (codesList?.Count > 0)
                    {
                        string highLightsCodes = string.Join(",", codesList);
                        int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                        string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                        Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes, sku = sku });
                    }
                }
            }
        </div>
    </div>

    <!--SKU not in use-->
    <div class="col-xs-12 nopadding" style="display:none">
        <div class="product-number-details">
            <div class="product-number" data-test-selector="divProductNumber">
                <h2>
                    @if (!string.IsNullOrEmpty(Model.SKU))
                    {
                        <span data-test-selector="spnProductItemLabel">@WebStore_Resources.TitleSKU:</span>
                        string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                        @Html.RenderBlock(sku)
                    }
                </h2>
            </div>
            <div class="product-brand">
                @if (!string.IsNullOrEmpty(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand)) && Model.IsBrandActive)
                {
                    <span data-test-selector="spnProductBrandLabel">@WebStore_Resources.LabelProductBrand</span>
                    <a href="@Url.GetBrandUrl(Model.BrandSeoUrl, null, Model.BrandId)" data-test-selector="linkProductBrand">
                        @Html.RenderBlock(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
                    </a>
                }
            </div>
        </div>
    </div>
    <!--Rating not in use-->
    <div class="col-xs-12 nopadding product-rating" style="display:none">
        @{
            int totalreviews = 0;
            totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
            string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
        }
        <a data-test-selector="linkReadReviewLabel" href="#scrollReview" onclick="javascript: $('#tab-reviews').click();" title="@WebStore_Resources.LinkTextReadReviews">@WebStore_Resources.LinkTextReadReviews</a>@ratingText
        @Html.Partial("_StarRating", Model.Rating)
    </div>
</div>
    @Html.Partial("../Schema/_ProductSchema", Model)
