﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    string disablebutton = (Model.IsLevelApprovedOrRejected
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                          ? "disabled='disabled'" : "";
}
<div class="shopping-cart">

    <div class="col-xs-12 chk-section nopadding checkout-box">
        <div class="head-text">
            <h2 class="title">@WebStore_Resources.HeadingOrderSummary</h2>
        </div>
        <div class="col-xs-12 nopadding cart-products">
            @if (Model.ShoppingCartItems?.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            @*<th style="@_displayRemoveLink"><span class="hidden">Product Image</span></th>*@
                            <th>@WebStore_Resources.LabelItem</th>
                            <th>@WebStore_Resources.LabelTierPrice</th>
                            <th>@WebStore_Resources.ColumnTitleQuantity</th>
                            <th class="text-right">@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                        {
                            @Html.Partial("../Cart/_CartRow", cartItem)
                        }
                    </tbody>
                </table>
            }
        </div>

        <div class="col-xs-12 nopadding cart-summary margin-bottom">
            <div class="col-sm-offset-5 cart-total order-summary" id="summary-details">
                @Html.Partial("../_TotalTable", Model)
            </div>
        </div>
    </div>




    @if (Model.Permission)
    {
        if (Model.IsSinglePageCheckout)
        {
            @Html.Partial("../_ApplyCoupon", Model)
        }

    }


    <div class="col-xs-12 nopadding form-group margin-top">
        <div class="col-xs-12 nopadding">
            <label for="address_name">@WebStore_Resources.TitleAdditionalInformation</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextAreaFor(model => model.AdditionalInstruction, new { maxlength = 500, rows = 2, title = "Additional Information" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12 col-xs-12 nopadding">
            <label for="accept_name" class="HeaderStyle-SinglePage">Accepts Terms and Conditions</label>
        </div>
        <div class="col-xs-12 nopadding TermsConditions">
            <div class="filter-list">
                <div class="styled-input">
                    <input id="Agree" type="checkbox" class="FacetFilter">
                    <label for="Agree">@Html.RenderMessage("Accepttermsandconditions") </label>
                    <p id="TermsandConditionError" class="error-msg" style="display:none;">Please Accept Terms and Conditions to proceed.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 nopadding quotebutton hide-in-amazon-checkout margin-bottom text-center">
        @if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
        {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.TextPlaceOrder
                }
            </button>
        }
        else if ((Model.ShowPlaceOrderButton || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Payment.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
        {
            string onclickFunction = (Model.OmsQuoteId > 0) ? "Checkout.prototype.SubmitForApproval()" : "Checkout.prototype.SubmitOrder()";
            <button type="submit" @disablebutton onclick="@onclickFunction" id="btnCompleteCheckout" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout" title="Submit Order">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.TextPlaceOrder
                }
            </button>
        }
        else if ((!Model.ShowPlaceOrderButton && (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Store.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
        {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left singlecheckoutsubmitquote">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.ButtonSubmitForApproval
                }
            </button>
        }
        else
        {
            <button type="submit" @disablebutton onclick="SubmitOrderIfAgreeClicked()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout" title="Place Order">
                @if (Model.OmsQuoteId > 0)
                {
                    if (!Model.IsLastApprover)
                    {
                        @WebStore_Resources.LabelUpdateAndApproveOrder
                    }
                    else
                    {
                        @WebStore_Resources.LabelApproveAndPlaceOrder
                    }
                }
                else
                {
                    @WebStore_Resources.TextPlaceOrder
                }
            </button>
        }
    </div>

</div>

@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
@Html.HiddenFor(m => m.IsLastApprover, new { @id = "hdnIsLastApprover" })
@Html.HiddenFor(m => m.IsLevelApprovedOrRejected, new { @id = "hdnIsLevelApprovedOrRejected" })
@Html.HiddenFor(m => m.OmsQuoteId)
<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
        Checkout.prototype.ChangeSubmitOrderButtonText();
    })
</script>

<script async>
    function SubmitOrderIfAgreeClicked() {
        var pOrderNumber = $("#txtPurchaseOrderNumber").val();
        var POrderNumber = jQuery.trim(pOrderNumber);

        var PO = $("input[id='PURCHASE_ORDERPO']:checked").val();
        if (typeof PO != 'undefined') {
            if (POrderNumber == null || POrderNumber.length == 0 || POrderNumber == "") {
                $("#errorpurchaseorder").text('Invalid purchase order number.');
                $("#errorpurchaseorder").show();
                return false;
            }
        }
        else {
            $("#errorpurchaseorder").text('');
            $("#errorpurchaseorder").hide();
        }
        $("#Agree").is(":checked") ? ($("#TermsandConditionError").hide(), Checkout.prototype.SubmitOrder()) : $("#TermsandConditionError").show()
    }
</script>