﻿@import "../_base.scss";

// Button
.btn {
    border-radius: 0px;
}
.btn-secondary {
    border: 1px solid $border-bgcolor-default;
    border-radius: 4px;
    color: $base-color-secondary;
}
.btn-text {
    @include btn-text;

    font: {
        size: 14px;
        weight: $base-font-bold;
    }

    padding: 0 10px;
    margin-left: 5px;
    height: 34px;
    line-height: 34px;
    border-radius: 0px;
    font-weight: normal;
    text-transform: uppercase;

    &:hover, &:focus, &:active {
        color: $base-color-white;
    }
}
.btn-text-icon{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }
   padding:0 15px 1px 10px;height:45px;line-height:45px;margin-left:0px;font-weight:normal;
   &:hover,&:focus,&:active{color:$base-color-white;}
   i{padding-right:5px;font-size:$base-font-size + 3;line-height:45px;float:left; }
}
.btn-text-full{
    @include btn-text;
    font:{ 
      size:16px;
      family:$base-font-family-bold;
   }
   width:60%;padding:0 15px 1px 10px;height:34px;line-height:35px;border-radius:0px;text-transform:uppercase;
   &:hover,&:focus,&:active{color:$base-color-white;}
   i{float: left;font-size:28px;line-height:45px;padding-right:10px;border-right: 1px solid $border-bgcolor-default;display:none;}
}
.btn-card {
    @include btn-text;
    font-size:13px;padding:0 15px 0 10px;line-height:34px;
    &:hover,&:focus,&:active{color:$base-color-white;}
    i{padding-right:5px;font-size:$base-font-size + 3;line-height:30px;float:left;}
}
.btn-wishlist {
    @include btn-text;
    background-color:$base-color-white;color:#787878;position:absolute;top:25px;right:15px;min-width:51px;border-radius:0px;color:$base-color-Link;
    &:hover,&:focus,&:active{color:$base-color-secondary;}
    i{font-size:$base-font-size + 2;line-height:26px;}
}
.btn-margin-left{margin-left:0;}

.red,.btn-bg-primary { background: $base-color-primary;border-radius: 3px;border: 1px solid $base-color-primary;
     font:{ 
      size:14px;
      family:$base-font-family-bold;
   }   
}
.btn-bg-secondary {background-color: transparent;border: 1px solid $base-color-secondary;width: 20%;color: $base-color-white;text-transform: uppercase;border-radius: 0px;
   font:{ 
      size:14px;
      family:$base-font-family-bold;
   }
    &:hover,&:focus,&:active{color:$base-color-white;}
}
.btn-bg-border{background:$base-bgcolor-button-border; color:$base-color-primary;border:1px solid $base-color-primary;border-radius: 0px;width:100%;text-decoration:none !important;
    font:{ 
      size:14px;
      family:$base-font-family-bold;
   }
   &:hover,&:focus,&:active{color:$base-color-primary;}
}
.btn-bg-blue{background:$base-bgcolor-button-secondary; color:$base-color-white;border-radius: 0px;width:100%;
   font:{ 
      size:14px;
      family:$base-font-family-bold;
   }
   &:hover,&:focus,&:active{color:$base-color-white;}
}
.width-auto-btn{width:auto;}
.cms-configure-btn-custom { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.btn-text-secondary-custom { background-color: #5db043 !important; border: none; color: #fff; }

.widget-cms-button-container-center { position: absolute; z-index: 10000; text-align: center; }

.widget-cms-overlay-custom { position: absolute; z-index: 9999; background-color: black; opacity: 0.3; border: 1px solid white; }

.cms-img-icon-custom { z-index: 9999; margin: auto; max-width: 120px; top: -10px; position: relative; }

.cms-img-icon { z-index: 0; }

// Media Query.
@include screensize(x-small) {
    .btn-text-full{width:100%;}
    .btn-width-full{width:100%;}
}