﻿@model Znode.Engine.Admin.ViewModels.BrandListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.LabelAssociateBrand</h1>
            <div class="pull-right btn-container">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('DivGetUnAssociatedBrandListForStore')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right margin-left-10">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Store.prototype.AssociatePortalBrand(@Model.PortalId)" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div style="display:none" class="messageBoxContainer error-msg text-center text-center margin-bottom" id="associatedPortalBrand" data-message="">@Admin_Resources.PleaseSelectAtleastOneBrand</div>
            @using (Ajax.BeginForm("GetUnAssociatedBrandList", "Store", new { portalId = Model.PortalId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(m => m.PortalId)
        </div>
    </div>
</div>