﻿@using Znode.Engine.WebStore.ViewModels
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    bool havewidth = false;
    bool havesize = false;
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "drewolor")
        {
            att.DisplayOrder = 1;
            att.IsSwatch = "true";
        }
        if (att.AttributeCode == "drewsize")
        {
            att.DisplayOrder = 2;
            havesize = true;
        }
        if (att.AttributeCode == "drewwidth")
        {
            att.DisplayOrder = 3;
            havewidth = true;
        }
    }
    attributes = attributes.OrderBy(x => x.DisplayOrder).ToList();
}


@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
        switch (att.IsSwatch)
        {
            case "true":
                <div class="col-xs-12 nopadding margin-top margin-bottom setlinghtheight">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <p class="PDPlable">@att.AttributeName : <span id="colorname" class="text-black">@att.SelectedAttributeValue[0]</span></p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch @att.AttributeName-swatched">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    <li class="styled-input scratch-attribute-img stimg">
                                        <div>
                                            <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                            <label title="@image.AttributeValue" for="@att.AttributeCode-@image.AttributeValue" class="scratch-image stimg1 @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">
                                                <img src="@image.ImagePath" class="SwatchImage img-responsive" title="@image.AttributeValue" /><span class="hidden">Swatch Image</span>
                                            </label>
                                            <span id="colorname" class="text-black" title="@image.AttributeValue">@image.AttributeValue</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "false":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <p class="PDPlable">@att.AttributeName</p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="size-swatch color-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    <li class="styled-input">
                                        <input type="radio" class="ConfigurableAttribute" title="@image.AttributeValue" name="@att.AttributeCode" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"> <i class="zf-swatch-box" style="color:@image.SwatchText !important;" title="@image.AttributeValue"></i> </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            default:
                <div class="col-xs-12 nopadding margin-top setlinghtheight">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <p class="PDPlable">@att.AttributeName : <span id="colorname" class="text-black">@att.SelectedAttributeValue[0]</span></p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="size-swatch  @att.AttributeName-swatched">
                                @if (att.AttributeName == "drewsize")
                                {
                                    foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                    {
                                        <li class="styled-input">
                                            <input type="radio" class="ConfigurableAttribute" title="@image.AttributeValue" name="@att.AttributeCode" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                            <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")" title="@image.AttributeValue"><span>@image.AttributeValue</span></label>
                                        </li>
                                    }
                                }
                                else
                                {
                                    foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                    {
                                        <li class="styled-input">
                                            <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                            <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")" title="@image.AttributeValue"><span>@image.AttributeValue</span></label>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
        }
    }
}

<div class="col-xs-12 nopadding" id="dynamic-product-variations">

</div>

@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @Model.CombinationErrorMessage
        </span>
    </div>
}
@*<script>
    $(document).ready(function () {
        Product.prototype.OnWidthScratch();
    });
</script>*@


<script>
    /*Size and width scratch on document ready start*/
    $(document).ready(function () {
        Product.prototype.NiviInventoryGrid();
        setTimeout(function () {
            var SizeArray, size = 0;
            var a = $('#hdnUnAvailableSize').val();
            // alert(a);
            var b = a.split(",");
            //alert("b " + b);
            $.each(b, function (i) {
                SizeArray = b[i];
                //alert(SizeArray);
                $(".Size-swatched li input").each(function () {
                    size = $(this).val();
                    if (SizeArray == size) {
                        $('label[for="' + $(this).attr('id') + '"]').addClass("scratchattribute disabled");
                        $('label[for="' + $(this).attr('id') + '"]').css('pointer-events', 'none');
                    }
                });
            });
            var a = $('#csvstring').val();
            //alert("a "+a);
            var b = a.split(",");
            //  alert("b " + b);
            var SizeWidthArray = "", d = 0;
            var e = $("input[name='drewsize']:checked").val();
            $.each(b, function (i) {
                SizeWidthArray = b[i];
                // alert(b[i]);
                $("input[name=drewwidth]").each(function () {
                    var width = $(this).val();
                    for (i = 0; i < width.length; i++) {
                        d = $(this).val();
                        //alert(d);
                    }
                    var avlSize = e + "_" + d;
                    //alert("avlSize " + avlSize);
                    if (SizeWidthArray == avlSize) {
                        $('label[for="' + $(this).attr('id') + '"]').addClass("scratchattribute disabled");
                        $('label[for="' + $(this).attr('id') + '"]').css('pointer-events', 'none');
                    }
                });
            });
        }, 3000);
    });
    /*Size and width scratch on document ready end*/
    /*On color, size and width click start*/
    function OnColorSizeWidth(obj) {
        ZnodeBase.prototype.ShowLoader();
        Product.prototype.OnAttributeSelect(obj);
        var colorCode = $(obj).attr("code")
        if (colorCode == "drewcolor") {
            Product.prototype.NiviInventoryGrid();
        }
        /*on click size scratch start*/
        // $(".Size-swatched li input").click(function () {
        setTimeout(function () {
            var SizeArray, size = 0;
            var a = $('#hdnUnAvailableSize').val();
            var b = a.split(",");
            //alert("b " + b);
            $.each(b, function (i) {
                SizeArray = b[i];
                //alert(SizeArray);
                $(".Size-swatched li input").each(function () {
                    size = $(this).val();
                    if (SizeArray == size) {
                        $('label[for="' + $(this).attr('id') + '"]').addClass("scratchattribute disabled");
                        $('label[for="' + $(this).attr('id') + '"]').css('pointer-events', 'none');
                    }
                });
            });
        }, 1000);
        /*on click size scratch end*/
        if (colorCode == "drewsize" || colorCode == "drewwidth") {
            setTimeout(function () {
                var a = $('#csvstring').val();
                //alert("a "+a);
                var b = a.split(",");
                //  alert("b " + b);
                var SizeWidthArray = "", d = 0;
                var e = $("input[name='drewsize']:checked").val();
                $.each(b, function (i) {
                    SizeWidthArray = b[i];
                    //alert(b[i]);
                    $("input[name=drewwidth]").each(function () {
                        var width = $(this).val();
                        for (i = 0; i < width.length; i++) {
                            d = $(this).val();
                            //alert(d);
                        }
                        var avlSize = e + "_" + d;
                        //alert("avlSize " + avlSize);
                        if (SizeWidthArray == avlSize) {
                            $('label[for="' + $(this).attr('id') + '"]').addClass("scratchattribute disabled");
                            $('label[for="' + $(this).attr('id') + '"]').css('pointer-events', 'none');
                        }
                    });
                });
                //   });
            }, 1000);
            /*on click width scratch end*/
        }
    }
    ZnodeBase.prototype.HideLoader();
    /*On color, size and width click end*/
</script>

