﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
 @{
     int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div class="col-xs-12 margin-top nopadding">
    <z-widget>@Html.WidgetPartial("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)</z-widget>
    @*<z-widget>@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>*@

    <div class="hidden col-xs-12 col-lg-12 col-md-12 nopadding flex-column-reverse display-flex margin-bottom">
        <div class="col-xs-12 col-lg-6 col-md-6 nopadding Promo-img">
           @Html.RenderMessage("PromoBannerFiveImg")
       </div>
        <div class="col-xs-12 col-lg-6 col-md-6 nopadding Promo-img Promo-cms-sec BackColor1">
            @Html.RenderMessage("PromoBannerSixText")
           
        </div>
    </div>

</div>
