﻿@model Znode.Engine.WebStore.ViewModels.ProductReviewViewModel

<div class="col-xs-12 nopadding product-review review-striped">
    <div class="col-xs-12 nopadding review-title">
        <p>@Html.Partial("_StarRating", Model.Rating)</p>
    </div>
    <div class="col-xs-12 nopadding review-body margin-top-bottom">
        <h5>@Html.RenderBlock(Model.Headline)</h5>
        @Html.RenderBlock(Model.Comments)
    </div>
    <div class="col-xs-12 nopadding review-meta">
        <p><span>By: <label>@Model.UserName</label></span>&nbsp;<span>@WebStore_Resources.TitleStateCountry: <label>@Model.UserLocation</label></span>&nbsp;<span>@WebStore_Resources.TitleDate: <label>@Model.CreatedDate</label></span></p>
    </div>

</div>

