﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
}

<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId" data-sku="@Model.SKU">

    <!--Top Header CMS-->
    <div class="header-local-container">
        <div class="Top-Head-Msg">
            @Html.RenderMessage("PromoText3")
        </div>
    </div>

    <!--Cart PopUp PDP Page-->
    <div class="hidestickybar" style="display:none" data-id="stickyBar">
        <div class="drew-static-bar sticky-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 nopadding">
                        <div class="col-xs-11 col-sm-9 col-lg-7 col-md-7 nopadding drew-product-info">
                            <div class="pull-left padding-right">
                                <i class="zf-active"></i>
                            </div>
                            <div class="image">
                                <img src="" data-src="" class="img-responsive" alt="@Html.RenderBlock(Model.Name)" title="@Html.RenderBlock(Model.Name)">
                            </div>
                         
                            <div class="drew-product-detail">
                                <div><span class="addtocart-label"></span></div>
                                <div><span class="sku-label stickProductName"></span></div>
                            </div>
                        </div>
                        <div class="col-xs-1 col-sm-3 col-lg-5 col-md-5 nopadding drew-product-info">
                            <button type="submit" onclick="window.location.href='/Cart/Index'" class="btn-text-full btn-bg-primary checkout-btn" title="@WebStore_Resources.LabelCart">@WebStore_Resources.LabelCart</button>
                            @*<a data-test-selector="linkCheckout" href="/Cart/Index" class="btn-text-full btn-bg-border checkout-btn" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();" title="@WebStore_Resources.ButtonProceedToCheckout">@WebStore_Resources.ButtonProceedToCheckout</a>*@
                            <a data-test-selector="linkCheckout" href="javascript:void(0)" class="btn-text-full btn-bg-border checkout-btn hidden-sm" id="checkOut-link" onclick="return $('.hidestickybar').hide();" title="@WebStore_Resources.ButtonContinueShopping">@WebStore_Resources.ButtonContinueShopping</a>
                            <div class="close-btn sticky-btn" title="Close"><i class="zf-close-circle pull-right" onclick="return $('.hidestickybar').hide();"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row mobile-row">
            <!-- Breadcrumb -->
            <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container margin-bottom"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @Html.Partial("_QuickViewProductView", Model)
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>

<!--Template Level Script-->
<script src="@_fileLocation/Scripts/lib/jquery.simpleGallery.js"></script>
<script src="@_fileLocation/Scripts/lib/jquery.simpleLens.js"></script>
<script>
    $(document).ready(function () {
        $('title').html("@seoTitle");
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
    $('#ImageZoom .simpleLens-big-image').simpleLens(
        {
        loading_image: '@Helper.GetThemeFilePath($"/Views/Themes/", "/Images/loading.gif")',
        open_lens_event: 'click'
    }
    );
    //Cart Popup Scroll to top 
    $(".btn-addtocart").click(function () {
        $('html,body').animate({
            scrollTop: $(".hidestickybar").offset().top
        },
            'slow');
    });
</script>