﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@using System.Threading.Tasks;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    bool isCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
}
<div class="container-fluid">
    <div class="row proxy-login-section">
        <div class="container proxy-login">
            @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
            {
                ImpersonationModel impersonation = SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey);

                <span class="">
                    @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                </span>
                <a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff"> @WebStore_Resources.LabelLogoff</a>
            }
        </div>
    </div>
    <div class="row header-local-container">
        <div class="container">
            <div class="row">
                <!--Locales Widget-->
                <z-widget>@Html.WidgetPartial("Locales", "Locales", "123", "PortalMapping", 4)</z-widget>
                <div class="pull-right track-order">
                    @Html.ActionLink(WebStore_Resources.LabelTrackOrder, "GetOrderDetails", "User", "", new { @data_test_selector = "linkTrackOrder" })
                </div>
                @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Shared/_CurrentEnvironment.cshtml"))
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-2 nopadding">
            <a href="/" class="header-logo" data-test-selector="linkLogoImage">
                @{
                    if (string.IsNullOrEmpty(logo))
                    {
                        <h1>@title</h1>
                    }
                    else
                    {
                        <img data-src="@logo" alt="@title" class="img-responsive b-lazy" data-test-selector="imgLogoImage" />
                    }
                }
            </a>
        </div>
        <div class="header-link-contain nopadding">
            <div class="col-xs-12 col-sm-7 col-sm-offset-2 col-md-offset-1 col-md-5 nopadding">
                <!--Search Widget-->
                <z-widget><div class="search-panel-widget">@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</div></z-widget>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-5 header-link nopadding pull-right">
                <ul>
                    <li>
                        <span class="loginStatus">
                            @if (isCloudflareEnabled)
                            {
                                <span>Loading..</span>
                            }
                            else
                            {
                                @Html.Action("LoginStatus", "User")
                            }
                        </span>
                    </li>
                    <li class="quick-order-li">
                        <!--Quick Order Widget-->
                        @if (isLoginAuthorization == false || IsLoginUser == true)
                        {
                            <z-widget>@Html.WidgetPartial("QuickOrder", "QuickOrder", "123", "PortalMapping", 4)</z-widget>
                        }
                    </li>
                    <li class="cart-icon">
                        <a href='/cart'>@Html.RenderMessage("MessageConfig")<i class='f-size zf-cart header-toolbar-cart' data-test-selector="linkCart"></i><span class='cartcount' data-test-selector="linkCartCount"></span></a>
                    </li>
                    <li class="pull-right">
                        <z-widget>
                            @Ajax.AjaxWidgetPartial("ECertTotalBalance", "ECertTotalBalance", "101", "PortalMapping")
                        </z-widget>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header-nav-container">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--Navigation Widget-->
            <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
        </div>
    </div>
</div>
<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get", cache: false }).done(function (t) { $(".cartcount").html(t); });
    if ('@isCloudflareEnabled' == 'True')
    {
        $.ajax({ url: "/User/LoginStatus", type: "get", cache: false  }).done(function(t) { $(".loginStatus").html(t); });
    }
</script>

