﻿@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    string[] CartDesc = Model.CartDescription.Replace("-", ":").Replace("<br>", ",").Replace("<br/>", "").Split(new string[] { "," }, StringSplitOptions.None);
    string cCartDesc = "";
    string Color = "", Size = "", Width = "";
    foreach (string att in CartDesc)
    {
        if (att.Contains("Color"))
        {
            Color = "<span><b> Color :</b>" + att.Substring(att.IndexOf(':') + 1) + "</span><span class=''><br/></span>";
        }
        else if (att.Contains("Size"))
        {
            Size = "<span><b> Size :</b>" + att.Substring(att.IndexOf(':') + 1) + "</span><span class=''><br/></span>";
        }
        else if (att.Contains("Width"))
        {
            Width = "<span><b> Width :</b>" + att.Substring(att.IndexOf(':') + 1) + "</span><span class=''><br/></span>";
        }
    }
    cCartDesc = Color + " " + Size + " " + Width;
}

<tr>
    <td class="remove-item" style="@_displayRemoveLink">
        @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <a data-test-selector="linkCartItemRemove" href="javascript:void(0)" class="cart-item-remove" onclick="javascript:$($(this).closest('form').submit());" title="Remove Item"><i class="zf-close"></i></a>
        }
    </td>
    <td class="cart-item-details">
        <div class="col-xs-12 nopadding cart-image">
            <a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-responsive b-lazy" alt=""></a>
        </div>
    </td>
    <td>
        <div class="col-xs-12 col-sm-9 col-md-10 nopadding cart-description">
            <a data-test-selector="linkCartItemName" title="@Html.RenderBlock(Model.ProductName)" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title thead-text">@Html.RenderBlock(Model.ProductName)</a>

            <div class="cart-item-description margin-top-5" data-test-selector="divCartItemDescription">
                @if (Model?.PersonaliseValuesDetail?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesDetail)
                    {
                        if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                        {
                            <p data-test-selector="paraCartItemDescription">@item.PersonalizeName : @item.PersonalizeValue</p>
                        }
                    }
                }
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p><i class="zf-caret-right"></i>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-description"><p><b>Item #</b>@Html.RenderBlock(Model.SKU)</p></div>
            <div class="cart-item-description">@Html.RenderBlock(cCartDesc)</div>
        </div>
        @if (!Model.IsAllowedTerritories)
        {
            <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
        }
    </td>
    <td class="cart-item-unitprice" data-test-selector="colCartItemUnitPrice">
        <div class="col-xs-12 nopadding">
            @if (Model?.GroupProducts?.Count > 0)
            {
                foreach (var item in Model.GroupProducts)
                {
                    <div class="group-product-list">
                        @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                    </div>
                }
            }
            else
            {
                @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, Model.UOM)
            }
        </div>
    </td>
    <td class="cart-item-quantity" data-test-selector="colCartItemQuantity">
        <div class="col-xs-12 nopadding text-center">
            @Html.Partial("_Quantity", Model)
            <div style="@_displayRemoveLink">
                <a href="javascript:void(0)" title="Update" class="Edit" onclick="Cart.prototype.UpdateCartQauntity($(this).closest('tr').find('#cart-quantity'))">Update</a>
            </div>
        </div>
    </td>
    <td class="cart-item-total" data-test-selector="colCartItemTotal">
        <div class="col-xs-12 nopadding cart-result text-right">
            <p data-test-selector="spnCartRowPrice">@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</p>
        </div>

    </td>

</tr>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>