﻿@using Znode.WebStore.Custom.ViewModel
@model  DSCustomListViewModel
@{
    Layout = null;
    //var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var attributes = Model?.InventoryList?.ToList();
}
<center><label style="color: #3A5F8C">SIZE AVAILABILITY</label></center>
<div class="col-sm-2"></div>
<div class="col-sm-8">
	<div class="table-responsive">
		<table class="table text-center table-grid-PDP">

			@{
				//decimal inventory = 0;
				string classNameInventoryGreen = "";
				List<string> DistinctColor = Model?.InventoryList?.Select(x => x.Drewwidth).Distinct().ToList();
				if (DistinctColor != null)
				{
					DistinctColor.Add(DistinctColor[0]);
					int iteration = 0;
					foreach (string width in DistinctColor)
					{
			<tr>
				<th class="set-back-color-left">
					@if (iteration != 0)
					{
						<span> @width</span>
					}
				</th>
				@{
					var list = Model?.InventoryList?.Where(x => x.Drewwidth == width).ToList();

					foreach (var item in list)
					{
						if (iteration == 0)
						{

							<th class="set-back-color-top"><span>@item.Size</span> </th>
						}
						else
						{
							classNameInventoryGreen = "";
							decimal value = Convert.ToDecimal(Convert.ToString(item.Inventory));
							int inventory = Convert.ToInt32(value);
							if (inventory > 0)
							{
								//classNameInventoryGreen = "<i class='fa fa-question-circle pull-right'></i>";
								<td class="zf-check-box-check" style="color:green"> </td>
							   // <td style="color:green">@inventory</td>
							}
							else
							{
								<td class="" style="color:red">00</td>
							}
						}
					}
				}
			</tr>
						
						iteration++;
					}

				}

			}
		</table>
	</div>
</div>
<div class="col-sm-2"></div>