﻿@model Znode.Engine.Admin.ViewModels.RequestStatusViewModel
@using Znode.Engine.Admin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName };
}
@using (Ajax.BeginForm(actionName, controllerName,
    new AjaxOptions()
    {
        HttpMethod = "post",
        OnSuccess = "RMAConfiguration.prototype.EditRequestStatusResult",
        InsertionMode = InsertionMode.Replace,
    },
    new { @id = "createReasonForReturn" }))
{
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="z-close-circle"></i></button>
                <h4 class="modal-title">@Admin_Resources.LabelEditRequestStatus</h4>
            </div>
            <div class="modal-body">
                <div id="customFieldModel">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(m => m.Name, new { @class = "required" })
                            </div>
                            <div class="control-lg">
                                @Html.TextBoxFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.CustomerNotification)
                            </div>
                            <div class="control-lg">
                                @Html.TextAreaFor(model => model.CustomerNotification, new { @rows = "5" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.AdminNotification)
                            </div>
                            <div class="control-lg">
                                @Html.TextAreaFor(model => model.AdminNotification, new { @rows = "5" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 nopadding">
                        <div class="pull-right">
                            <button id="AddCustomfieldSave" type="submit" class="btn-text-icon"><i class="z-save"></i>@Admin_Resources.ButtonSave</button>
                            <button id="AddCustomfieldCancel" type="button" class="btn-text-icon" data-dismiss="modal"><i class="z-cancel"></i>@Admin_Resources.ButtonCancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.RmaRequestStatusId)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.RequestCode)
}
@Scripts.Render("~/bundles/jqueryval")