﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="news-letter hidden">
        <div class="container">
            <div class="row news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                <div class="col-xs-12 col-sm-12 nopadding newsletter-container">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-information">
        <div class="container">
            <div class="row" itemscope itemtype="http://schema.org/WebPage">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel col-sm-2 footer-shop" data-test-selector="divFooterCategoryList">
                        <div role="tab" id="FooterOne">
                            <div class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="header-footer">
                                        <h3 data-test-selector="lblFooterCategoryHeading">@WebStore_Resources.TitleStoreInfo</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="footerdestopview collapse in" role="tabpanel" aria-labelledby="FooterOne">
                            <z-widget>
                                @Html.WidgetPartial("LinkPanel", "StoreInfo", "2248", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                            </z-widget>
                        </div>
                    </div>
                    <!--Footer Brand Widget-->
                    <div class="panel col-sm-2 footer-shop">
                        <div role="tab" id="FooterTwo">
                            <div class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="header-footer">
                                        <h3 data-test-selector="lblFooterHelpHeading">@WebStore_Resources.LabelBrands</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="collapseTwo" class="footerdestopview collapse" role="tabpanel" aria-labelledby="FooterTwo">
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterHelpWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "Brands", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-2 footer-shop">
                        <!--Customer Support Widget-->
                        <z-widget>@Html.WidgetPartial("CustomerSupport", "CustomerSupport", "109", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                    </div>

                   
                    <div class="col-sm-2 PFAimg">
                        <!-- Footer PFA Image Block -->
                        @Html.RenderMessage("FooterPFAImage")
                    </div>

                    <!--Socal Media Widget-->
                    <div class="col-xs-12 col-sm-4 follow-us">
                        <div class="header-footer">
                            <h3 data-test-selector="lblFooterCategoryHeading">@WebStore_Resources.TitleFollowus</h3>
                        </div>
                        <div data-test-selector="divSocialMediaList" class="margin-bottom">
                            <z-widget>
                                @Html.WidgetPartial("LinkPanel", "SocialMedia", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                            </z-widget>
                        </div>

                        <!--News Letter Widget-->
                        <div class="margin-top">
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterCategoryHeading">@WebStore_Resources.TitlePromotionSignUp</h3>
                            </div>
                            <div class="row news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                                <div class="col-xs-12 col-sm-12 nopadding newsletter-container">
                                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 nopadding footer-copyright-text text-center">
                    <p data-test-selector="lblFooterCopyRight">@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top" data-test-selector="linkBackToTop" title="Back to top"><i class="zf-up"></i><span class="hidden">top</span></a>
<script>$('[itemtype = "http://schema.org/WebPage"] a').attr("itemprop", "significantLinks");</script>