﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@using System.Threading.Tasks;
@{
    /**/

    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    bool isCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
}
<div class="container-fluid">
    <div class="row proxy-login-section">
        <div class="container proxy-login">
            @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
            {
                ImpersonationModel impersonation = SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey);

                <span class="">
                    @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                </span>
                <a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff" title="@WebStore_Resources.LabelLogoff"> @WebStore_Resources.LabelLogoff</a>
            }
        </div>
    </div>    
</div>

<div class="header-link-contain margin-top hidden-xs">
    <div class="container">
        <div class="row">
            <div class="header-link">
                <ul>
                    <li>
                        <a href="/User/Dashboard" title="@WebStore_Resources.TitleMyAccount">@WebStore_Resources.TitleMyAccount</a>
                    </li>
                    <li>
                        <a href="/home/storelocator" title="@WebStore_Resources.TitleFindastore">@WebStore_Resources.TitleFindastore</a>
                    </li>
                    <li>
                        <a href="#" title="@WebStore_Resources.LinkTextCustomerService">@WebStore_Resources.LinkTextCustomerService</a>
                    </li>
                    <li>
                        <span class="loginStatus">
                            @if (isCloudflareEnabled)
                            {<span>Loading..</span>}
                            else
                            {@Html.Action("LoginStatus", "User")}
                        </span>
                    </li>
                    <li>
                        <a href='/cart' title="Shopping Cart">@Html.RenderMessage("MessageConfig")<i class='f-size zf-cart header-toolbar-cart' data-test-selector="linkCart"></i> &nbsp;Shopping Cart - <span class="headcount"><span class='cartcount' data-test-selector="linkCartCount"></span> Items</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-7 col-sm-5 col-md-2 nopadding">
            <a href="/" class="header-logo" data-test-selector="linkLogoImage">
                @{
                    if (string.IsNullOrEmpty(logo))
                    {
                        <h1>@title</h1>
                    }
                    else
                    {
                        <img data-src="@logo" src="@logo" alt="@title" class="img-responsive b-lazy" data-test-selector="imgLogoImage" />
                    }
                }
            </a>
        </div>
        <div class="header-link-contain-nav nopadding">
            <div class="col-xs-5 col-sm-7 col-sm-offset-2 col-md-offset-1 col-md-7 nopadding">
                <ul class="hidden-lg hidden-md visible-xs mobile-header">
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <a href='/User/Dashboard' title="Dashboard"><i class='f-size zf-login-user' data-test-selector="linkCart"></i><span class="hidden">dashbaord</span></a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" data-test-selector="linkLoginLink" title="Sign In"><i class='f-size zf-login-user' data-test-selector="linkCart"></i><span class="hidden">Dealer Login</span></a>
                        }
                    </li>
                    @*<li>
                        <a href='#' data-toggle="collapse" data-target="#search-results" aria-expanded="false" aria-controls="search-results"><i class='f-size zf-search' data-test-selector="linkCart"></i><span class="hidden">search</span></a>
                    </li>*@
                    <li>
                        <a href='/cart'>@Html.RenderMessage("MessageConfig")<i class='f-size zf-cart header-toolbar-cart' data-test-selector="linkCart"></i><span class='cartcount' data-test-selector="linkCartCount"></span></a>
                    </li>
                </ul>
                

                <div class="header-nav-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="hidden">navbar menu</span>
                        </button>
                    </div>
                    <!--Navigation Widget-->
                    <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-3 nopadding margin-top pull-right">
                <div id="search-results" class="Search-box collapse in">
                    <!--Search Widget-->
                    <z-widget><div class="search-panel-widget">@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</div></z-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header-local-container">
    <div class="container">
        <div class="row">
            <!--Top Header CMS-->
            <div class="Top-Head-Msg">
                @*@Html.RenderMessage("TopHeaderLine")*@
                Sign up for our email newsletter!
            </div>
        </div>
    </div>
</div>


<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get", cache: false }).done(function (t) { $(".cartcount").html(t); });
    if ('@isCloudflareEnabled' == 'True')
    {
        $.ajax({ url: "/User/LoginStatus", type: "get", cache: false  }).done(function(t) { $(".loginStatus").html(t); });
    }
</script>

<script>
    //Nivi Code For Dropdown Menu
    $(document).ready(function () { $("ul.nav li").hover(function () { $(this).find(".set1").stop(!0, !0).delay(0).fadeIn(0) }, function () { $(this).find(".set1").stop(!0, !0).delay(0).fadeOut(0) }) });			
</script>