﻿@model Znode.Engine.WebStore.ViewModels.AddressViewModel

@{
    string addressType = Model.AddressType;
    string _addressType = ViewBag.AddressType;
    Model.AddressType = _addressType;
}
@using (Ajax.BeginForm("UpdateAddress", "Checkout", new AjaxOptions() { OnBegin = "ZnodeBase.prototype.ShowLoader();", OnSuccess = "Checkout.prototype.SetAddressErrorNotificationMessage", OnFailure = "ZnodeBase.prototype.HideLoader();" }, new { @id = "frmEditAddress_" + _addressType }))
{
    @Html.ValidationSummary(true)
    <div id="Edit-Address-content_@_addressType">
        @{Html.RenderPartial("_EditAddress", Model);}
    </div>
    @Html.Hidden("formChange", false, new { @id = "formChange" })
}

<script>
    $("#frmEditAddress_@_addressType :input").change(function () {
        $("#formChange").val(true);
    });
</script>

