﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetSearchDataViewModel
<div id="layout-category" class="main-wrapper">
    <div class="container">
        <div class="row">
            <aside class="col-xs-12 col-sm-3 side-bar">
                @if (Model?.FacetFilters?.Count > 0)
                {
                    <div class="list-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_AddedList"><span>Filters</span></h4>
                            </div>
                            <div id="collapseOne_AddedList" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="filter-list">
                                        @foreach (var facetValue in Model.FacetFilters)
                                        {
                                            <h4>@HttpUtility.HtmlDecode(Model.Facets.Find(x => x.AttributeValues.Any(y => y.AttributeCode == facetValue.Item1))?.AttributeName)</h4>
                                            foreach (var facetValueItem in facetValue.Item2)
                                            {
                                                <li class="filter-item" onclick="Search.prototype.RemoveFacet('@facetValueItem.Value')">
                                                    <label>@HttpUtility.HtmlDecode(facetValueItem.Key)</label><i class="zf-close"></i>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model?.Facets?.Count > 0)
                {
                    int count = 0;
                    foreach (var item in Model.Facets)
                    {
                        <div class="list-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@count"><span>@item.AttributeName</span></h4>
                                </div>
                                <div id="collapseOne_@count" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul class="filter-list">
                                            @foreach (var facetValue in item.AttributeValues)
                                            {
                                                bool? isChecked = Model.FacetFilters?.Any(facetFilter => facetFilter.Item1 == facetValue.AttributeCode && facetFilter.Item2.Any(x => x.Key == facetValue.AttributeValue));
                                                if (!string.IsNullOrEmpty(facetValue.AttributeValue))
                                                {
                                                    string data = $"{item.AttributeName}{facetValue.AttributeValue}";
                                                    <li class="styled-input">
                                                        <input id="@data" type="checkbox" onchange="Search.prototype.GetFilterResult('@facetValue.RefineByUrl',this)" class="FacetFilter" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />
                                                        <label for="@data" data-test-selector="lblFacetValue">@Html.RenderBlock(facetValue.Label)<sup data-test-selector="lblFacetCount">(@facetValue.FacetCount)</sup></label>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                }
               
            </aside>
            <div class="col-xs-12 col-sm-9 category-landing-container search-page">
                @if (Model?.Products?.Count > 0)
                {
                    <div class="col-xs-12 product-grid nopadding">
                        <div class="col-xs-12 nopadding products-modes-setting">
                            <div class="view-mode pull-right">
                                <span>@WebStore_Resources.ProductViewMode &nbsp;</span>
                                <a href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"><i class="zf-grid-view"></i></a>
                                <a href="javascript:void(0);" class="productview list-view-opt" title="List View"><i class="zf-list-view"></i></a>
                                <a href="javascript:void(0);" class="productview text-view-opt" title="Text View"><i class="zf-text-view"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-12 nopadding">
                            <p class="search-result" data-test-selector="paraSearchResult">@Html.RenderBlock(Model.SearchResultCountText)</p>
                        </div>
                        <div id="layout-paging">
                            <div class="search-paging col-xs-12 col-sm-8 margin-top nopadding">
                                <div class="col-xs-8 nopadding search-pagination">
                                    <ul>
                                        <li class="search-more-nav arrow-left"><a id="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Previous" data-test-selector="linkArrowLeftBottom"><i class='zf-arrow-left-big'></i></a></li>
                                        <li class="search-more-nav arrow-right"><a id="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Next" data-test-selector="linkArrowRightBottom"><i class='zf-arrow-right-big'></i></a></li>
                                    </ul>
                                    @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
                                </div>
                                <div class="col-xs-4 nopadding">
                                    @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
                                </div>
                            </div>
                        </div>
                        <div id="layout-search">
                            <div class="search-sorting col-xs-12 col-sm-4 margin-top nopadding pull-right">
                                <div>
                                    @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 product-view nopadding">
                            <ul id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
                                @{
                                    if (!Equals(Model, null))
                                    {
                                        foreach (var p in Model.Products)
                                        {
                                            <li>
                                                <article class="product-item">
                                                    @Html.Partial("../Product/_ProductTile", p)
                                                </article>
                                            </li>
                                        }
                                    }
                                }
                            </ul>

                            <div id="loading" class="loader" style="display:none;"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>   