﻿@model Znode.Engine.WebStore.ViewModels.WidgetSliderBannerViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {
        <div class="col-xs-12 nopadding cms-icon-container">
            <img src="@_fileLocation/Images/banner-slideshow.png" alt="New Product" class="img-responsive cms-img-icon" />
        </div>
    }
}
<div class="row">
    <div data-test-selector="divTopSlider" id="top-slider" data-navigation="@Model.Navigation" class="owl-carousel slider Top-Slider @Model.Type">
        @{
            int counter = 0;
            string mediaUri = PortalAgent.CurrentPortal.MediaServerUrl;
            if (!Equals(Model.SliderBanners, null))
            {
                foreach (var item in Model.SliderBanners)
                {
                    string mediaPath = $"{mediaUri}{item.MediaPath}";
                    string _active = counter == 0 ? "item active" : "item";
                    <div class="@_active">
                        <a href="@item.ButtonLink" target="_blank">
                            <img src="@mediaPath" alt="@item.ImageAlternateText" data-test-selector="imgMediaPath" />
                            <div class="carousel-caption @item.TextAlignment">
                                @Html.RenderBlock(item.Description)
                            </div>
                        </a>
                    </div>
                    counter++;
                }
            }
        }
    </div>
    <button id="play" class="button glyphicon glyphicon-play" title="Play"><span class="hidden">Play</span></button>
</div>

<script>

    $(function () {
        if(@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoPlay).ToLower())) == "true"){
            $(".Top-Slider").owlCarousel({
                navigation: true,
                singleItem: true,
                mouseDrag: false,
                autoPlay:@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AutoplayTimeOut)),
                stopOnHover: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoplayHoverPause).ToLower()))== "true" ? true : false,
                transitionStyle: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TransactionStyle)),
                navigationText: [
                    "<i class='zf-arrow-left-big'></i>",
                    "<i class='zf-arrow-right-big'></i>"
                ],
            });
        }else{
            $(".Top-Slider").owlCarousel({
                navigation: true,
                singleItem: true,
                autoPlay: false,
                mouseDrag: false,
                stopOnHover: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoplayHoverPause).ToLower()))== "true" ? true : false,
                transitionStyle: @Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TransactionStyle)),
                //transitionStyle: "fade",
                navigationText: [
                    "<i class='zf-arrow-left-big'></i>",
                    "<i class='zf-arrow-right-big'></i>"
                ],
            });
        }

        // For Navigation.
        var navigation = $(".Top-Slider").data("navigation");
        if(navigation === "Dots"){
            $(".Top-Slider .owl-pagination").css("display","block");
            $(".Top-Slider .owl-buttons").css("display","none");
        }else{
            $(".Top-Slider .owl-buttons").css("display","block");
            $(".Top-Slider .owl-pagination").css("display","none");
        }
    });
</script>

<style>
   
    .owl-theme .owl-controls {
        float: right;
        right: 5.5%;
        position: relative;
        top: 0;
    }

    .slider .owl-buttons .owl-prev {
        float: none;
        position: relative;
        padding: 10px 10px;
        top: -59px;
        width: 35px;
        height: 35px;
    }

    .slider .owl-buttons .owl-next {
        float: none;
        position: relative;
        padding: 10px 10px;
        top: -59px;
        left: -4px;
        width: 35px;
        height: 35px;
    }

    .owl-theme .owl-controls .owl-buttons div {
        opacity: 1;
    }
</style>
<script>
    $(function () {
        var owl = $(".owl-carousel").data('owlCarousel');
        owl.stop();
        $('#play').click(function () {
            if ($(this).attr("id") === "play") {
                $(this).removeClass("glyphicon glyphicon-play");
                owl.play();
                owl.next();
                $(this).attr("id", "pause");
                $(this).attr("title", "Pause");
                $(this).addClass("glyphicon glyphicon-pause");
            } else {
                owl.stop();
                $(this).removeClass("glyphicon glyphicon-pause");
                $(this).attr("title", "Play");
                $(this).addClass("glyphicon glyphicon-play");
                $(this).attr("id", "play");
            }
        });
    });
</script>