﻿<div class="newsletter-widget margin-top">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" id="FirstName" placeholder="Enter Your First Name">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" id="LastName" placeholder="Enter Your Last Name">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 input-field">
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="form-group" id="newsletter">
                @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.LabelSenderMailId, @data_test_selector = "txtNewsLetterEmail" })

            </div>
        }
        <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="form-group form-check">
            <label class="container-checkbox" title="Yes, please email me periodic promotions">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                Yes, please email me periodic promotions
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <button title="Submit" class="btn btn-default pull-right" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp">Submit</button>
        </div>
    </div>
</div>
