﻿<nav class="header-nav" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
    <div class="navbar-collapse collapse" id="navbar-collapse-nav" data-test-selector="divHeaderCategList">
        @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId(), portalId = Helper.GetCurrentPortalId() }); }
    </div>
    <div class="nav-drop-container">
        <ul id="others-menu" class="dropdown-menu dropdown-inner" style="display:none"></ul>
    </div>
</nav>
