﻿@import "_base.scss";

.navbar-nav{margin:0;
    > li {
        .dropdown-menu {border-top: 5px solid $base-color-primary;}
        > a {padding: 18px;font-size:$base-font-size;color:$base-color-secondary;text-transform:uppercase;
            &:hover,&:active,&:focus{background-color:$base-color-white;}
        }
        .brand-filter a{font-size:18px;text-align:center;
            &:hover{background-color:#f4f4f4;}
        }
    }
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul {padding: 0 0 10px 15px;
    li {line-height: 40px; min-height: 24px;}
}
.navbar-collapse{background-color:$nav-bgcolor;padding:0;}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {position: static;}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left:auto;right:0;}
.yamm .yamm-content {padding:20px;}
.yamm .dropdown.yamm-fw .dropdown-menu {left:0;right:0;}
.yamm .dropdown ul li {width:19%;background-color:transparent;display:inline-block;vertical-align:top;line-height:24px;
    &.view-all a {color:$base-color-primary;}
    a {font-family:$base-font-family-bold;background-color:transparent;color:$base-color-primary;white-space:normal !important}
    .sub-menu-child {padding-left:20px;
        li {width:100%;list-style:none; 
             a {color:$base-color-primary;background-color:transparent;font-size:$base-font-size-small;}
             ul li a {font-weight:normal;}
        }
    }    
    i {padding-right:10px;color:$base-color-primary;}
}
.yamm .dropdown ul li a:hover, .yamm .dropdown ul li .sub-menu-child li a:hover {color:$base-color-primary;}

// Nav Dropdown Code.
.nav-drop{right:0;line-height:50px;font-size:18px;color:$base-color-white;
    &:hover,&:active,&:focus{color:$base-color-primary;}
}

.nav-drop-container ul{background-color:$nav-bgcolor;margin:0;padding:0;position:absolute;right:-5px;width:50%;border-radius:0;
    li{list-style:none; display:block;position:relative !important;color:$base-color-white;min-height:24px;line-height:40px;
        a{padding:0 15px;color:$base-color-white;width:100%;display:block;}
        &:hover{background-color:$base-color-primary;color:$base-color-white;}

        ul{float:none !important;position:static !important;width:100%;min-height:50px !important;
           li{width:100% !important;
               a{color:$base-color-white !important;padding:10px 15px;}
           }
        }
    }
}

// Media Query.
@include screensize(x-small) {
    nav .nav-home{display:none;}
    .navbar-nav{height:auto !important;}
    .dropdown:hover .dropdown-menu {float:none;position:static;}
    .yamm .dropdown ul li{width:100%;}  
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:100px;}
}
@include screensize(small) {
    nav .nav-home{display:block;}
    .navbar-nav{height:58px !important;margin-left:20px;}
    .dropdown:hover .dropdown-menu {float:left;position:absolute;}
    .yamm .dropdown ul li{width:25%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:700px;overflow-y:auto;}
}
@include screensize(medium) {
    .yamm .dropdown ul li{width:19%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:450px;overflow-y:auto;}

    .navbar-nav{margin-left: 5px;
    > li {
        .dropdown-menu {border-top: 5px solid $base-color-primary;}
        > a {padding: 18px 8px 30px 7px;}
    }
}
}
@include screensize(x-large) {
    .yamm .dropdown.yamm-fw .dropdown-menu {max-height:700px;}
}



/*Mega  Menu Start*/

.mega-menu {
    z-index: 1;
    min-height: 0;

    .sidenav {
        height: auto;
        position: fixed !important;
        background-color: #f1f1f1;
        overflow-x: hidden;
        display: flex;
        margin-top: 3px;

        .catNav {
            margin-left: -300px;
            position: fixed;
            left: 0px;
            top: 0px;
            height: 100vh;
            background: rgb(241, 241, 241);

            .link-panel-widget {
                margin-top: 2px;
            }
        }

        .leftnav {
            min-width: 300px;
            background: #f1f1f1;
            margin-left: -300px;
            transition: all .5s;
            // Hide all dynamic categories
            div[id^="leftNav-cat-"] {
                display: none;
            }

            .scroll-list {
                overflow-y: auto;
                max-height: calc(100vh - 126px);
            }


            .col-icon i {
                width: 43px;
                font-style: normal !important;
                align-self: center;
            }

            a {
                padding: 0;
                text-decoration: none;
                font-size: $base-font-size-small;
                color: #444 !important;
                display: block;
                transition: 0.3s;
                text-transform: uppercase;
                font-weight: bold;
                padding: 10px 0 10px 34px;
                letter-spacing: 1px;
                position: relative;
                cursor: pointer;
                width: 100%;


                span {
                    border: solid #444;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    position: absolute;
                    top: 7px;
                    right: 20px;
                    transform: rotate-(45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }
        }

        .rightnav {
            background: #fff;
            width: 100%;
            max-height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;

            .tabcontent {
                display: none;

                .sub-menu {
                    padding: 0;
                    list-style: none;
                    font-size: $base-font-size;

                    .list {
                        display: block;

                        a {
                            color: #444;
                            margin-bottom: 7px;
                            width: 100%;
                            display: block;

                            &:hover {
                                color: #638fac;
                            }
                        }
                    }

                    .head {
                        font-weight: 700;
                        margin-bottom: 10px;
                        letter-spacing: 1px;

                        a {
                            color: #444;

                            &:hover {
                                color: #638fac;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {

    .mega-menu {
        .sidenav {
            flex-direction: column;
            top: 0;
            height: 100%;
            -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
            transition: width .5s;


            .catNav {
                width: 100vw;
                padding-top: 0;
                margin-left: -101vw;
                transition: all .5s;
                z-index: 1;

                .header {
                    padding: 10px 0;
                    font-size: $base-font-size;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background: #242424;
                    padding: 13px 27px;
                    height: 47px;

                    i {
                        font-style: normal;
                        font-size: 13px;
                    }
                }

                ul {
                    padding-left: 0;
                    margin-top: 20px;

                    li {
                        a {
                            text-decoration: none;
                            font-size: $base-font-size-small;
                            color: #444 !important;
                            display: block;
                            transition: 0.3s;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 10px 0 10px 34px;
                            letter-spacing: 1px;
                            position: relative;
                            cursor: pointer;
                            width: 100%;
                        }

                        i {
                            font-style: normal;
                            width: 43px;
                        }
                    }
                }
            }

            .leftnav {
                width: 100vw;
                height: 100%;
                padding-top: 0;
                margin-left: -101vw;
                transition: all .5s;
                z-index: 2;

                .scroll-list {
                    max-height: calc(100vh - 50px);
                }

                .header {
                    padding: 10px 0;
                    font-size: $base-font-size;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background: #242424;
                    padding: 13px 27px;
                    height: 47px;

                    i {
                        font-style: normal;
                        font-size: 13px;
                    }
                }

                a {
                    width: 80%;
                }

                .col-icon {

                    &:hover {
                        background: #242424;

                        a {
                            color: #fff !important;
                        }

                        i {
                            color: #fff !important;
                        }
                    }
                }
            }

            .rightnav {
                position: fixed;
                top: 0;
                height: 100%;
                width: 100vw;
                margin-left: -101vw;
                transition: all .5s;
                background: #f1f1f1;
                z-index: 4;

                .header {
                    label {
                        i {
                            font-style: normal;
                            font-size: 13px;
                        }
                    }
                }

                .tabcontent {

                    .scroll-list {
                        overflow-y: auto;
                        max-height: calc(100vh - 50px);
                    }

                    .sub-menu {

                        .list {
                            display: none;
                            padding-left: 10px;
                            border-bottom: 1px solid #ccc;

                            &.show {
                                display: block;
                                margin-bottom: 20px;
                            }
                        }

                        .btn {
                            width: 62px;
                            display: flex !important;
                            justify-content: flex-end;
                            align-items: center;
                            border: none;
                            padding: 0;
                            background-color: inherit;

                            i {
                                font-style: normal;
                            }
                        }
                    }
                }

                .header {
                    padding: 10px 0;
                    font-size: $base-font-size;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background: #242424;
                    padding: 13px 27px;
                    height: 47px;
                }
            }
        }
    }
}

.mega-menu-overlay {
    position: absolute !important;
    width: 100%;
    height: 150vh;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.4;
    display: none;
}
/*Mega Menu End*/