﻿@import "_base.scss";

.brand-container{
    .brand-filter{text-align:center;float:left;width:100%;margin:0;padding:0;
        li{list-style:none;display:inline-block;padding-right:30px;
             a{font-size:18px;font-weight:600;}
        }
    }
    .brand-list{display:block;padding:0;
        li{display:inline-block;vertical-align:top;margin-bottom:10px;width:49%;}
        a{color:$base-color-secondary;text-align:center;
          &:hover{color:$base-color-primary;}
          label{text-align:center; width:100%;cursor:pointer;padding-top:5px;}
          img{margin:0 auto;max-width:130px;max-height:130px;min-height:130px;}
        }        
    }    
}

// Brand Category Banner.
.brand-banner{margin-bottom:0px;display: flex;
     img{width:100%;height:100%;}
     .brand-banner-sec{background-color: #FFF7F7;padding: 75px;padding-top: 140px;height: auto;
     h2{font-size: 36px;font-weight: 700;color: $base-color-secondary;text-transform:uppercase}
     .text-promo{margin-top:15px;margin-bottom:15px;color:$base-color-white;}
     .promo-btn .btn-bg-promo{background-color:$base-color-white;color: $Promo-bg-color;width: 30%;}    
     p{text-align:justify;padding-right:5px;margin-top: 15px;font-size:$base-font-size;}
    
    }
}


// Media Query.
@include screensize(x-small) { 
.brand-container{padding:0 5px;
    .brand-filter li{padding-right:13px;
        a{font-size:$base-font-size-small;}
    } 
}
.brand-banner{
    .brand-banner-sec {padding: 40px;padding-top: 40px;min-height: auto;
        h2{font-size:$base-heading-font-mobile;}
        p{font-size:$base-font-size;}
    }
}
}

@include screensize(small) { 
.brand-container{padding:0;
    .brand-filter li{padding-right:30px;
        a{font-size:18px;}
    } 
    .brand-list li{width:19%;}
}
}