﻿@import "_base.scss";

.cart-item-description {
    font-size: $base-font-size-x-small;
    font-family: Montserrat, sans-serif;
}
.shopping-cart{
    .cart-total-title .cart-sub-heading{font-size:16px;color:$base-color-primary;font-weight:bold;}
    .cart-products{
        table{margin-bottom:0;
              thead{border-top:none;border-bottom: 1px solid #ddd;}
              tr td,tr th{vertical-align:middle;padding:5px;}
              tr th:first-child{width:110px;}
              tr .item-description{width:38%;}
              tr .item-price{width:15%;}
        }
        .thead-text{font-weight:bold; font-size: $base-font-size-x-small + 2;
    font-family: Montserrat, sans-serif;}
    } 
   .remove-item .cart-item-remove{color:$base-color-primary;font-weight:normal;font-size:$base-font-size-small;
        &:hover{color:$base-color-Link;}
   }
    .cart-item-details{
        .cart-item-description{font-size:$base-font-size - 4;line-height:26px;}
        .cart-item-sku{text-transform:uppercase;margin-top: 5px;margin-bottom:5px;}
        a{font-size:$base-font-size;font-family:$base-font-family-bold;line-height:26px;overflow:hidden;width:100%;}
        .group-product-list p{line-height:32px;font-weight:600;
            i{font-size:13px;color:$base-color-primary;}
        }
        .cart-image {
            a {max-height:100%;overflow:visible;}
        }
    }    
    .cart-item-quantity .quantity-msg-error{display:block;}
    .cart-summary{
        .text-center{background-color:#f7f7f7 ;border:1px solid $border-bgcolor-default;border-top:0;padding:20px;}
        .order-summary{margin-top:15px;}
        .cart-total{text-align:right;color:$base-color-secondary;
            .form-group{float:left; width:100%; margin-bottom:0px;line-height:32px;margin-top:15px;}
            .total{float:left;width:100%;margin:0px;
                   h2{color:$base-color-secondary;font-size:$base-font-size - 2;text-transform:uppercase;font-family:$base-font-family-bold;}
            }
        }        
        .cart-item-remove-all i{color:$base-color-primary;padding-right:5px;}
        .carttotalcontentarea .dashboard-loader{text-align:center;display:block;margin:0 auto;}
    }
    .cart-promocode,.cart-giftcart{
        p{padding:10px 0;font-family:$base-font-family-bold;}
        .input-group{width:100%;}
        .error-msg,.success-msg{margin-left:0px;}
    }
    .shipping-estimate-details{line-height:20px;
        .styled-input input[type=radio] + label {padding-right:10px;margin-bottom:0;}
        .form-group{padding:0 !important;}
    }
    .cart-apply-promocode {
        .right-inner-icon{
            i {line-height:1;}
            .cancel-shipping-estimator {position:absolute; top:0; right:0; padding:9px 15px; height:34px;}
        } 
    }
    .margin-top-bottom{
            .btn-text-icon:first-child{margin-left:0;}
    }
    .cart-total,.cart-promocode {
            text-align:left !important;margin-bottom:15px;
            .head-text{border-bottom:2px solid $border-bgcolor-default;}
            h3{color:$base-color-primary; font-size:$base-heading-font-mobile - 4;text-transform:uppercase;padding:0px;line-height:31px;}
            .form-group{padding:0px;}
            .align-right{text-align:right;}
    }
 
    .cart-total-title{margin-top:15px;justify-content:space-between;flex-wrap:wrap;float:right;text-align:right;font-size:$base-font-size-small;
            .cart-item-remove-all{
                    .zf-close{font-size:10px;margin-right:5px;}
            }
        }
} 
.cart-item-quantity{        
        input[type="text"]{text-align:center;}
        .btn-number{border:1px solid $base-color-primary;
          &:hover,&:focus,&:active{background-color:$base-color-white;color:$base-color-primary;}
        }
        .quanity-msg-error{display:block;}
        .input-group-btn:first-child>.btn{margin-right:-2px;}
}
.margin-top-bottom-30{margin-bottom:30px;margin-top:30px;}
@include screensize(x-small) {
    .shopping-cart {
        padding: 0 5px;
        .cart-summary{
            .cart-total{
                .total{
                    h2{font-size:$base-font-size + 1;}
                }
            }
        }

        .cart-total-title h2 {
            padding: 15px 15px 30px 15px;
        }

        .cart-products {
            .cart-item-image{width:30%;height:250px;text-align:center;}
            .cart-item-details, .cart-item-total {width: 70%;
                .cart-result {text-align: left;font-weight:$base-font-bold;font-size:$base-font-size-small;}
            }

            table {
                tr td, tr th {
                    vertical-align: middle;
                    padding: 5px;
                }

                tr th:first-child {
                    width: 30px;
                }

                .thead-text {
                    position: static;
                }
            }
        }

        .table-responsive {
            border: 0 !important;

            .table {font-size:$base-font-size-small;
                thead {
                    display: none;
                }

                tbody {
                    border: 0;

                    tr {
                        position: relative;
                        float: left;
                        width: 100%;
                        border-bottom: 1px solid $border-bgcolor-default;

                        td {
                            display: block;
                            float: left;
                            padding: 5px 5px;

                            &.remove-item {
                                position: absolute;
                                z-index: 1;
                                padding: 5px;
                                width: auto;
                                top: 15%;
                                left: 10px;
                                background-color: $base-color-white;
                                border: none;
                            }

                            .cart-description {
                                padding: 0;
                                white-space: normal;

                                label {
                                    padding-right: 5px;
                                }
                            }

                            &.cart-item-quantity {
                                width: 38%;
                                margin-bottom: 7px;
                            }
                        }
                    }
                }
            }
        }

        .cart-btn {
            a {
                width: 100%;
            }

            .btn-left, .btn-right {
                padding-right: 0;

                .btn-text-icon {
                    margin-left: 0;
                }
            }

            .btn-left {
                margin-bottom: 10px;
            }
        }
    }
    .cart-item-quantity input[type="text"]{width:70px;}
    .cart-item-details {
        border: none;

        .cart-image {
            width: 50%;

            img {
                max-width: 50px;
                float: right;
                margin-right: 35px;
            }
        }

        .cart-description {
            padding: 10px 0 0;
            width: 100%;
        }

        .cart-product-details {
            padding: 0;
            margin: 10px 0;
        }

        .cart-products {
            thead {
                display: none;
            }

            .remove-item {
                position: absolute;
                left: 0;
            }

            td {
                border-bottom: 0 !important;
            }

            td.cart-item-details {
                width: 46%;
                float: left;
                text-align: right;
                white-space: normal !important;
            }

            td.cart-item-unitprice, td.cart-item-quantity, td.cart-item-total {
                float: right;
                width: 19%;
                clear: right;
            }

            td.cart-item-unitprice {
                margin-top: 10px;
                color: #485880;
                font-weight: $base-font-bold;
            }
        }

        .cart-left-section {
            padding: 0;
        }
    }
}
@include screensize(x-small){
    .shopping-cart{
        .cart-total{
               h3{font-size:$base-font-size + 2;font-family:$base-font-family-bold;}
           }
           .cart-promocode{
               h3{font-size:$base-font-size + 2;font-family:$base-font-family-bold;}
               p{font-size:$base-font-size;}
           }
    }
}

@include screensize(small) {
    .shopping-cart{padding:0;
           .cart-total-title h2{padding:15px;}
           .cart-products{
                table{
                       tr td,tr th{vertical-align:top;}
                      .thead-text{position:static;}
                    }
            } 
            .cart-item-quantity{max-width:60px;}
            .table-responsive .table{
                tbody{
                    tr{float:none;border-bottom: 1px solid #ddd;
                        td{display:table-cell;float:none;width:auto;text-align:left;padding:20px 1px;vertical-align: middle;
                            &.remove-item{position:relative;padding:0px !important;background-color:transparent;vertical-align:middle;top:0;left:0;}
                            .cart-description{padding:0 0 0 0px;}
                            &.cart-item-quantity,&.cart-item-unitprice,&.cart-item-total{float:none;clear:none;width:auto;}

                        }
                    }
                }
            }
        .cart-btn
        {
         .btn-right{padding-left:5px;margin-top:0;}
        .btn-left{padding-right:5px;}
        }
      

    }    

        .cart-item-details{border:1px solid $border-bgcolor-default;
        .cart-image {width:auto;
            img {max-width:80px;margin-left:15px;}
        }
         .cart-description {padding:0 0 0 10px;width:60%;}
    }
}
@include screensize(medium) {
        .cart-product-details{padding:0 40px 0 0 ;margin:0;}

    .cart-products {
         .remove-item{position:static;left:auto;}
        td{border-bottom:1px solid $border-bgcolor-default;}
        td.cart-item-details{width: auto;float: none;text-align:left;white-space:nowrap !important;}
        td.cart-item-unitprice,td.cart-item-quantity,td.cart-item-total{float: none;width:auto;clear:none;}
        td.cart-item-unitprice{margin-top:auto;}
    }
      .shopping-cart{
 

              .cart-total
        {
            span.input-group-btn{margin-left: 7px;}
    }
              .cart-btn{padding:0;
                    .continue-shopping-btn{overflow:hidden;padding:0 5px 1px 5px !important;}
              }
       }
          .cart-left-section{padding:0 15px;}
           .cart-item-details .cart-description {padding:0 0 0 10px;width:60%;}

        
}
@include screensize(desktop) {
    .shopping-cart {
           .cart-btn{padding:0;
                    .continue-shopping-btn,.checkout-shopping-btn{overflow:hidden;padding:0 15px 1px 10px !important;width: 100%;text-decoration:none;text-transform:uppercase;
                    font:{ 
                          size:16px;
                          family:$base-font-family-bold;
                       }
                    }
              }
    }
     
}