﻿@import "_base.scss";

.advertisement-banner h3{font-size:20px;margin:40px 0;text-align:center;color:$base-color-secondary}

.home-wide-promo{min-height:40px;border:1px solid $border-bgcolor-default;margin:20px 0;text-align:center; background:$base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: -o-linear-gradient(top,  #ffffff 0,#f1f1f1 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: linear-gradient(to bottom,  #ffffff 0,#f1f1f1 100%);
    h5{color:#252525;line-height:40px;
        span{color:$base-color-primary;font-weight:bold;}
        i{font-size:44px;color:$base-color-primary;padding-left:5px;vertical-align:middle;}
    }    
}
.Promo-img img{width:100%;height:100%;}
.Promo-cms-sec{background-color: #C62B2B;padding: 100px;padding-top: 170px;min-height: 452px;
     h3{font-size: 56px;font-weight: 600;color: $base-color-white;}
     .text-promo{margin-top:15px;margin-bottom:15px;color:$base-color-white;font-size:$base-font-size + 2;}
     .promo-btn .btn-bg-promo{background-color:$base-color-white;color: $Promo-bg-color;width: 30%;text-transform:uppercase;font-size:$base-font-size + 2;font-weight:$base-font-bold;}    
}
.product-list-title{margin-bottom:20px;text-transform: uppercase;line-height: 50px;border-bottom: 3px solid $base-color-primary;font-size:$base-heading-font-secondary;}

.track-order{float:right;
    a{color:$base-color-white;padding-right:15px;font-size:$base-font-size - 1;}
}
.label-environment{color:$base-color-white;font-size:$base-font-size;max-width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*Image For Him-Her Banner*/
.img-gradient-banner{
   .home-item {position: relative;display: inline-block;width: 100%;
        &:after{content: '';position: absolute;top: 0;right: 0;bottom: 0px;left: 0;background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.16850490196078427) 70%);}
   }
   figcaption{margin-top: -153px;position: relative;z-index: 2;padding-bottom:35px;text-align:center;
        h3{margin-top: 0px;margin-bottom: 10px;text-align: center;color:$base-color-white;font-size:$base-heading-font-primary;}
        h5{margin-top: 10px;margin-bottom: 20px;text-align: center;color:$base-color-white;font-size:$base-font-size + 2;}
        .btn-bg-border-white{border:1px solid $base-color-white;color:$base-color-white;text-transform:uppercase;width:20%;font-size:$base-font-size;font-weight:$base-font-bold;}
   }
}

/*Text Widget for Home Info */
.notification-msg{
    font-size:16px
}
.right-background-set {
    padding: 128px 40px 0 40px;
}
.HomeBannerone {
    background-color: $base-homebanner-background;
    h2{text-transform:uppercase;color:$base-color-secondary}
}
.HomeBannertwo {
    background-color: $base-homebannertwo-background;   
    h2{text-transform:uppercase;color:$base-color-secondary}
}
/*Image For Testinomials*/
#testinomial {
    height: auto;
    background-color: $base-testinomial-background;
    width: 100%;
    background-image: url(/Views/Themes/DrewShoe/Images/testemonial-background.png);

    .revietrst {
        word-spacing: 1px;
        padding: 80px 270px 80px 280px;
        font-size: $base-font-size;
        letter-spacing: 1.5px;
        text-align: center;
    }
}


// Media Query.
@include screensize(x-small) {
    .product-list-title{font-size:$base-heading-font-mobile;}
    .Promo-cms-sec {padding: 25px;padding-top: 25px;min-height: auto;text-align: center;
       h3{font-size:42px;}
       .text-promo{font-size:$base-font-size;}
       .promo-btn .btn-bg-promo{font-size:$base-font-size-small}
    }
    .img-gradient-banner{
       figcaption{margin-top: -147px;
            .btn-bg-border-white{width:30%;}
       }
    }
    .img-gradient-banner{
       figcaption{
            h3{font-size:$base-heading-font-mobile;}
            h5{font-size:$base-font-size;}
            .btn-bg-border-white{font-size:$base-font-size-small;}
       }
    }
}

@include screensize(x-large) {
   .HomeBannerone {
       .right-background-set {padding: 228px 50px 0 50px;}
}
.HomeBannertwo {
    .right-background-set {padding: 228px 50px 0 50px;}
}

#testinomial {
    background-size: 2170px 250px;

    .revietrst {
        padding: 82px 471px 80px 425px;
    }
}
}