﻿@import "_base.scss";

// Header Section.
@import "widgets/header.scss";

// Main Wrapper.
.wrapper{min-height: 100%;}
.main-wrapper{padding:0px 0; min-height:700px;
    .page-title{text-transform:uppercase;border-bottom:3px solid $base-color-primary;line-height:50px;font-size:$base-heading-font-secondary;font-weight:bold;}
}
//Skip to main content
#skiptocontent {position: absolute;left: 0;top: 0;width: 100%;margin-left: 0;text-align: center;list-style: outside none;
    a {position: absolute;left: -99999px;top: 30px;
    &:focus,&:active{position: relative;left: 0;z-index: 9999;width: 100%;height: auto;margin: 0 auto;text-align: center;text-decoration: none;color: $anchor-tag-fgcolor-hover;background-color: $base-color-white;padding: 10px;border: 2px solid $anchor-tag-fgcolor-hover;}
    }
}

// Footer.
@import "widgets/footer.scss";

// Breadcrumb.
.breadcrumb-container{color:$base-color-secondary;margin-top: 15px;text-transform:capitalize;font-size:$base-font-size - 4;
    a{color:$base-color-secondary;padding:0 5px; display:inline-block;}
    span{padding:5px;}
}


@import "_navigation.scss";

// Site Map.
.site-map-container{margin-bottom:20px;min-height:500px;
    .section-header{font-size:$base-font-size + 5;font-weight:bold;padding-bottom:8px;border-bottom:1px solid $border-bgcolor-default;}    
    ul{padding:0;margin:0;
       li{list-style:none;}
       .sub-menu{margin-left:20px;}
       .zf-caret-right,.zf-arrow-right-small{padding-right:5px;}       
    }
}

// Media Query.
@include screensize(x-small) {
.main-wrapper{
    .page-title{font-size:$base-heading-font-mobile;}
}
// Contain Pages.
.contain-pages, .site-map-container,.mobile-no-padding{padding:0 0px;}
//h1,h2,h3
h1{font-size:$base-font-size + 9}
h2{font-size:$base-font-size + 8}
h3{font-size:$base-font-size + 7}
//flex-column-reverse
.flex-column-reverse{display: flex;flex-direction: column-reverse;}
//mobile size
.breadcrumb-container{font-size:$base-font-size-small;}
}
@include screensize(small) {
// Contain Pages.
.contain-pages{padding:0;min-height:650px;}
.site-map-container {padding:0;}
}