﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

@{
    bool isAjax = Request.IsAjaxRequest();
}
<div class="main-wrapper">
    <div class="container">
        <div class="row create-account-container">
            <div class="col-xs-12 nopadding margin-top">
                <h1 class="page-title">@WebStore_Resources.TitleRegisterAccount</h1>
            </div>
            <div class="col-xs-12 register-container margin-top-bottom nopadding">
                <div class="col-xs-12 col-sm-12 nopadding">
                    <div class="col-sm-4 nopadding">
                        @if (isAjax)
                        {
                            <div id="ajaxRegisterForm">
                                @using (Ajax.BeginForm("signup", "User", new AjaxOptions() { OnSuccess = "Checkout.prototype.SetUserCreationStatusMessage" }, new { id = "frmRegister" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Partial("_Register", Model)
                                    @Html.Hidden("isSinglePageCheckout", true)
                                    <div class="col-sm-12 nopadding">
                                        <button type="submit" class="btn-text btn-bg-primary btn-margin-left" id="user-register" data-test-selector="btnCreateAccount" title="@WebStore_Resources.ButtonCreateAccount">@WebStore_Resources.ButtonCreateAccount</button>
                                        <button type="button" class="btn-text btn-bg-border width-auto-btn" data-dismiss="modal" data-test-selector="btnCancelAccount" title="@Admin_Resources.ButtonCancel">@Admin_Resources.ButtonCancel</button>
                                    </div>

                                }
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm("signup", "User", FormMethod.Post, new { role = "form", @id = "frmRegister" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Partial("_Register", Model)
                                <div class="col-sm-12 nopadding">
                                    <button type="submit" class="btn-text btn-bg-primary btn-margin-left" id="user-register" data-test-selector="btnSubmitAccount" title="@WebStore_Resources.ButtonCreateAccount">@WebStore_Resources.ButtonCreateAccount</button>
                                    <button type="button" class="btn-text btn-bg-border width-auto-btn" onclick="javascript: location.href = '/User/Login';" data-test-selector="btnCancelAccount" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</button>
                                </div>

                            }
                        }
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row" data-test-selector="divAdvertisementBanner">
            <!--Account Page Promotion Banner CMS-->
            <div class="col-xs-12 col-lg-12 col-md-12 nopadding flex-column-reverse display-flex">
                <div class="col-xs-12 col-lg-6 col-md-6 nopadding Promo-img Promo-cms-sec">
                    @Html.RenderMessage("AccountPromoBanner1")
                </div>
                <div class="col-xs-12 col-lg-6 col-md-6 nopadding Promo-img">
                    @Html.RenderMessage("AccountPromoBanner2")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#frmRegister").submit(function () {
        $("#user-register").prop("disabled", true).addClass("disabled");
        $(this).closest("form").submit();
    });
</script>
